/* aesthetic reasons only, can be dropped */
body{
    font-family: 'Raleway', sans-serif !important;
}

.panel-heading {
    margin-left: -10px;
    margin-top:5px;
}

.main-container{
    max-width:1000px;
}

.full-width-table{
    width:100%;
}

.btn-active{
    font-weight: bold;
}

.btn-padding {
    margin:.25em .25em;
}

.mood-thermometer .well {
    margin-top:.25em;
    margin-bottom:0;
    padding:.25em;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.popoverLink {
    color: orange;
    cursor: pointer;
}

.popoverLink:hover {
    text-decoration: underline;
}

.popoverFinished {
    color: green;
    cursor: pointer;
    text-decoration: underline;
}

.printable {
    background-color: white;
}


/* thermometer gradient */
.bgcolor0 {
    background-color:#00E561;
}
.bgcolor1 {
    background-color:#00E11C;
}
.bgcolor2 {
    background-color:#26DD00;
}
.bgcolor3 {
    background-color:#A4D500;
}
.bgcolor4 {
    background-color:#D2C300;
}
.bgcolor5 {

}
.bgcolor6 {
    background-color:#CE8100;
}
.bgcolor7 {
    background-color:#EA6220;
}
.bgcolor8 {
    background-color:#E62520;
}
.bgcolor9 {
    background-color:#E23054;
}
.bgcolor10 {
    background-color:#DF208C;
}

/* will remove after convo with holly */
.lesson-slide img {
    width:90%;
    margin-left:5%;

}

/* to preserve vertical height of divs in rows */
.height200 {height:200px;}
.height235 {height:235px;}

/* callouts */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}


