<h2>Anticipating Disruptions</h2>

<div class="bs-callout bs-callout-primary">
Leading up to and during this event, how will your rhythms be disrupted?  
</div>


<div class="panel panel-default">
<div class="panel-heading">
	<h3 class="panel-title">Think about of each event on the rhythms listed below
</h3>
</div>
<div class="panel-body">

	<h3>Select one of the following from the drop down:</h3>
Sleep


_________________(drop down of More, Less, Disruptive, Broken)
Meal schedules_________________( drop down of More, Less, Disruptive, Broken)
Social contacts__________________( drop down of More, Less, Disruptive, Broken)
Level of stimulation/activity__________________( drop down of More, Less, Disruptive, Broken)
Daily exercise routines______________________( drop down of More, Less, Disruptive, Broken)
Other__________________________________ (drop down of More, Less, Disruptive, Broken)




</div>
</div>