<h2>Understanding Your Bipolar</h2>

<div class="bs-callout bs-callout-primary">
    <p>There are four basic types of Bipolar Disorder.</p>
    <p>To be diagnosed with bipolar disorder, the symptoms must be a major change from your normal mood or behavior. This tool will help you figure out what type of Bipolar Disorder you MAY HAVE.</p>
    <p><i>Please note: This does NOT take the place of a formal diagnosis which must be undertaken by your doctor.</i>srm</p>

</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Answer the questions below!</h3>
    </div>
    <div class="panel-body" ng-show="bipolar_calculator.panelVisible[0]">

        <h4>A Depressive Episode is defined as...</h4>
        <p>At least two weeks of feeling sad or down most of the day, nearly every day, accompanied by at least four of the following symptoms:</p>

        <ul>
            <li>Loss of interest in activities, including food and sex
            </li>
            <li>Feeling tired or slowed down
            </li>
            <li>Having trouble concentrating, focusing, or making decisions
            </li>
            <li>Feeling worthless or guilty
            </li>
            <li>Being restless or irritable
            </li>
            <li>Eating too much or too little
            </li>
            <li>Sleeping too much or too little
            </li>
            <li>Thinking of death or suicide or attempting suicide</li>
        </ul>

        <label>Have you ever experienced this?</label>
        <br/>
        <label class="btn btn-danger btn-padding">
            <input type="radio" ng-model="bipolar_calculator.disorders.depression" value="true"> Yes
        </label>
        <label class="btn btn-success btn-padding">
            <input type="radio" ng-model="bipolar_calculator.disorders.depression" value="false"> No
        </label>
    </div>
    <div class="panel-body" ng-show="bipolar_calculator.panelVisible[1]">

        <h4>A Manic Episode is defined as...</h4>
        <p>At least a one week period of feeling "too" happy or being very irritable most of the day, nearly every day, accompanied by at least three of the following symptoms (four if mood is irritable)</p>
        <ul>
            <li>Talking very fast
            </li>
            <li>Thoughts jumping from topic to topic
            </li>
            <li>Being easily distracted
            </li>
            <li>Sleeping very little and yet not feeling tired
            </li>
            <li>Having lots of energy - Starting lots of new projects or getting involved in many more activities than usual
            </li>
            <li>Having an unrealistic view of one's abilities
            </li>
            <li>Acting impulsively
            </li>
            <li>Engaging in high-risk behaviors like spending a lot of money or being sexually promiscuous
            </li>
            <li>Unrealistic thoughts like hearing voices that do not exist or feeling frightened for no reason</li>
        </ul>

        <p>AND: this episode caused significant impairment/I got into a lot of trouble (i.e., spent so much money that I declared bankruptcy, was arrested for driving too fast, was hospitalized because I was so sick)</p>

        <label>Have you ever experienced this?</label>
        <br/>
        <label class="btn btn-danger btn-padding">
            <input type="radio" ng-model="bipolar_calculator.disorders.mania" value="true"> Yes
        </label>
        <label class="btn btn-success btn-padding">
            <input type="radio" ng-model="bipolar_calculator.disorders.mania" value="false"> No
        </label>
    </div>
    <div class="panel-body" ng-show="bipolar_calculator.panelVisible[2]">
        <h4>A Hypomanic Episode is defined as...</h4>
        <p>At least a four day period of feeling "too" happy or being very irritable most of the day, nearly every day, accompanied by at least three of the following symptoms (four if mood is irritable)</p>
        <ul>
            <li>Talking very fast
            </li>
            <li>Thoughts jumping from topic to topic
            </li>
            <li>Being easily distracted
            </li>
            <li>Sleeping very little and yet not feeling tired
            </li>
            <li>Having lots of energy - Starting lots of new projects or getting involved in many more activities than usual
            </li>
            <li>Having an unrealistic view of one's abilities
            </li>
            <li>Acting impulsively
            </li>
            <li>Engaging in high-risk behaviors like spending a lot of money or being sexually promiscuous</li>
        </ul>

        <p>AND: this episode did not cause significant impairment or get me into much trouble (i.e., I was NOT hospitalized, my family was not very upset with me, I may have spent more money than usual but no so much that it cause financial problems)</p>

        <label>Have you ever experienced this?</label>
        <br/>
        <label class="btn btn-danger btn-padding">
            <input type="radio" ng-model="bipolar_calculator.disorders.hypomania" value="true"> Yes
        </label>
        <label class="btn btn-success btn-padding">
            <input type="radio" ng-model="bipolar_calculator.disorders.hypomania" value="false"> No
        </label>
    </div>
    <div class="panel-body" ng-show="bipolar_calculator.panelVisible[3]">
    	<h4>Based on your responses, you probably have a diagnosis of:</h4>
        <div class="well">
        {{bipolar_calculator.chooseDiagnosis().name}}
        </div>
        <div class="alert alert-danger">Holly, some concluding test would be helpful here.</div>
        <h4>Thanks!</h4>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <button ng-show="bipolar_calculator.panelVisible[1]" class="btn btn-default" ng-click="bipolar_calculator.showPanel(0)"><i class="fa fa-chevron-left"></i> Back
                </button>
                <button ng-show="bipolar_calculator.panelVisible[2]" class="btn btn-default" ng-click="bipolar_calculator.showPanel(1)"><i class="fa fa-chevron-left"></i> Back
                </button>
                <button ng-show="bipolar_calculator.panelVisible[3]" class="btn btn-default" ng-click="bipolar_calculator.showPanel(2)"><i class="fa fa-chevron-left"></i> Back
                </button>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                <button ng-show="bipolar_calculator.panelVisible[0]" class="btn btn-primary" ng-disabled="!bipolar_calculator.disorders.depression" ng-click="bipolar_calculator.showPanel(1)">Continue <i class="fa fa-chevron-right"></i>
                </button>
                <button ng-show="bipolar_calculator.panelVisible[1]" class="btn btn-primary" ng-disabled="!bipolar_calculator.disorders.mania" ng-click="bipolar_calculator.showPanel(2)">Continue <i class="fa fa-chevron-right"></i>
                </button>
                <button ng-show="bipolar_calculator.panelVisible[2]" class="btn btn-primary" ng-disabled="!bipolar_calculator.disorders.hypomania" ng-click="bipolar_calculator.showPanel(3)">Continue <i class="fa fa-chevron-right"></i>
                </button>
                <a class="btn" ng-show="bipolar_calculator.panelVisible[3]" href="#/lessons_current">Continue <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>

</div>