<h2>Getting Out of Bed Strategies</h2>

<div class="bs-callout bs-callout-primary">
<p>There are several strategies you can use to make getting out of bed easier!</p>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Review each of the strategies below:</h3>
    </div>
    <div class="panel-body" ng-show="bed.panelVisible[0]">
        <h4>Check the boxes below if you think these specific strategies might help!</h4>
        <br/>
        <div ng-repeat="item in bed.content track by item.id">
        	<label for="response{{$index}}">Can you {{item.title}}...</label>
	        <div class="row">
	            <label class="btn btn-default full-width btn-sm align-left" ng-repeat="response in item.content track by $index">
	                <div class="col-md-1 col-xs-1 col-sm-1 text-right">
	                    <input type="checkbox" name="response{{$index}}" ng-model="bed.responses[$parent.$index][$index]" value="{{$index}}"> </div>
	                <div class="col-md-11 col-xs-11 col-sm-11 text-left" ng-bind-html="bed.responseHTML(response)"></div>
	            </label>
	        </div>
	        <br/>
        </div>
    </div>
    <div class="panel-body" ng-show="bed.panelVisible[1]">

        <h4>You have selected the following get out of bed strategies:</h4>

		<div ng-repeat="item in bed.content track by item.id" ng-show="!bed.responsesExist($index)">
        	<label for="response{{$index}}">You said you could {{item.title}}...</label>
	        <ul>
	                <li ng-repeat="response in item.content track by $index" ng-show="bed.responses[$parent.$index][$index]" ng-bind-html="bed.responseHTML(response)"></li>
	        </ul>
        </div>

        <p>These are examples of activities that can help you get out of bed!</p>

    </div>
    <div class="panel-body" ng-show="bed.panelVisible[2]">

      <p>Getting up at the same time every day is the most important thing you can do to keep your body clock in rhythm.  Using these strategies to get out of bed can help you meet your goal of getting up at the same time every day.  You’ll feel better too!</p>
    </div>
    <div class="panel-footer">
     <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                    <button ng-show="bed.panelVisible[1]" class="btn btn-default" ng-click="bed.showPanel(0)"><i class="fa fa-chevron-left"></i> Back
                    </button>
                    <button ng-show="bed.panelVisible[2]" class="btn btn-default" ng-click="bed.showPanel(1)"><i class="fa fa-chevron-left"></i> Back
                    </button>
                    <button ng-show="bed.panelVisible[3]" class="btn btn-default" ng-click="bed.showPanel(2)"><i class="fa fa-chevron-left"></i> Back
                    </button>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                    <button ng-show="bed.panelVisible[0]" ng-disabled="!bed.responsesSelected()" class="btn btn-primary" ng-click="bed.showPanel(1)">Continue <i class="fa fa-chevron-right"></i>
                    </button>
                    <button ng-show="bed.panelVisible[1]" class="btn btn-primary" ng-click="bed.showPanel(2)">Continue <i class="fa fa-chevron-right"></i>
                    </button>
                    <a class="btn" ng-show="bed.panelVisible[2]" href="#/lessons_current" >Continue <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>