<h2>Getting Out of Bed Search</h2>


<h4>ALARMS/TIMERS</h4>

<ul>
<li>Put alarm clock across the room; vary the location</li>
<li>Practice physically getting up in response to the alarm going off.</li>
<li>Use multiple alarm clocks</li>
<li>Use vibrating alarm clock</li>
<li>Use cell phone alarm: use different ringtones and volumes</li>
<li>Use appliance timer to turn ON:
<ul>
<li>Lamp</li>
<li>Radio</li>
<li>Cassette player</li>
<li>TV</li>
<li>Coffee maker</li>
<li>Microwave</li>
</ul>
</li>
<li>Use appliance timer to turn OFF:
<ul>
<li>White noise machine</li>
</ul>
</li>
</ul>

<h4>ENLIST FRIENDS/RELATIVES TO</h4>

<ul>
<li>Call you on telephone</li>
<li>Visit you in the morning for breakfast (or come live with you?)</li>
<li>Meet you for coffee or breakfast or exercise or errands</li>
</ul>

<h4>ENVIRONMENT</h4>

<ul>
<li>Raise/open blinds when you go to bed to allow morning light</li>
<li>Get a rooster?</li>
</ul>

<h4>ON WAKING UP</h4>

<ul>
<li>Place encouraging/coping thoughts card on bedside table; read immediately</li>
<li>Practice mindfulness and note thoughts, emotions</li>
<li>Place pros and cons list of getting out of bed on bedside table; read IMMEDIATELY</li>
<li>Listen to tape you made reminding yourself of reasons to get up</li>
<li>Place water on bedside table; splash on face or drink</li>
<li>Place something with strong smell on table; inhale (e.g. cinnamon)</li>
<li>Throw off the covers IMMEDIATELY</li>
<li>Put feet on the floor IMMEDIATELY</li>
<li>Get up and take a shower</li>
<li>Get the newspaper IMMEDIATELY</li>
</ul>


<p>HAVE A REASON TO GET UP</p>
<ul>
<li>Set appointment or make plan for doing something in morning (e.g. go to work, go to volunteer job, go to exercise)</li>
<li>Get a pet</li>
</ul>