<div class="col-md-12 alert alert-default">
   <h2>Welcome back to RAY, {{home.currentUser}}!</h2>
</div>
<div class="row">
   <div class="col-md-9">
      <div class="panel panel-primary height200">
         <div class="panel-heading">
            <h3 class="panel-title">This Week's Goal</h3>
         </div>
         <div class="panel-body">
               <h3>Get up earlier than your current wake time</h3>
         </div>
         <div class="panel-footer">
            <a ng-href="#/srm_goal_setting">Update your goal <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
         </div>
      </div>
   </div>
   <div class="col-md-3">
      <div class="panel panel-success height200">
         <div class="panel-heading">
            <h3 class="panel-title">Tip of the week</h3>
         </div>
         <div class="panel-body">
            <i class="fa fa-4x fa-lock" aria-hidden="true"></i>
            <p>Complete this week's lesson plan to reveal the tip!</p>
         </div>
      </div>
   </div>
</div>
<div class="row row-eq-height">
   <div class="col-md-4">
      <div class="panel panel-info height200">
         <div class="panel-heading">
            <h3 class="panel-title">Lesson Plan</h3>
         </div>
         <div class="panel-body">
            <p>This week's lesson plan is all about orienting you to the way that RAY works!</p>
         </div>
         <div class="panel-footer">
            <a href="#/lessons_current" role="button">Start now <i class="fa fa-chevron-right" aria-hidden="true"></i></a> 
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-info height200">
         <div class="panel-heading">
            <h3 class="panel-title">SRM</h3>
         </div>
         <div class="panel-body">
            <p>You have only finished 4 out of the last 7 days of your current SRM.</p>
         </div>
         <div class="panel-footer">
            <a href="#/srm" class="" role="button">Finish it! <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-info height200">
         <div class="panel-heading">
            <h3 class="panel-title">Need Help?</h3>
         </div>
         <div class="panel-body">
            <p>Feel free to post a question to RAY project staff if you need some help!</p>
         </div>
         <div class="panel-footer">
            <a href="#/help" class="" role="button">Ask for help! <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
         </div>
      </div>
   </div>
</div>