<div class="row">
	<div class="col-md-6 col-md-offset-3">
	    <div class="panel panel-primary">
	    <div class="panel-heading">
	    	<h3 class="panel-title">Login to RAY!</h3>
	    </div>
	    <div class="panel-body">
			<div id="div-login-msg">
	            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
	            <span id="text-login-msg">Type your username and password.</span>
	        </div>
			<input id="login_username" class="form-control" type="email" placeholder="Email" required>
			<input id="login_password" class="form-control" type="password" placeholder="Password" required>
	        <div class="checkbox">
	            <label>
	                <input type="checkbox"> Remember me
	            </label>
	        </div>
		</div>
	    <div class="panel-footer">
	        <div>
	            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="index.login()">Login</button>
	        </div>
		    <div>
	            <button id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
	            <button id="login_register_btn" type="button" class="btn btn-link">Register</button>
	        </div>
	    </div>
	    </div>
	</div>
</div>