<h2>Learn About Anchors</h2>

<div class="bs-callout bs-callout-primary">
    <p>As you have seen, The Social Rhythm Metric (SRM) tracks five activities or "anchors" that research has shown helps many people improve their mood.</p>
    <p>Let's take a look at some examples of how anchors work in practice!</p>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Click on the highlighted words below to learn more about how social rhythm anchors affect the lives of real people!</h3>
    </div>
    <div class="panel-body" ng-show="learn_about_anchors.panelVisible[0]">
        <h4>The Story of Jon</h4> 
        	Jon gets up at 5:30 am. He sets the 
			<span uib-popover="{{learn_about_anchors.popoverText([0,0])}}" class="{{learn_about_anchors.popoverFinishedClass([0,0])}}" ng-click="learn_about_anchors.loadPopover([0,0])">alarm on his phone
			</span>
			  for 6 am but he is usually 
			<span uib-popover="{{learn_about_anchors.popoverText([0,1])}}" class="{{learn_about_anchors.popoverFinishedClass([0,1])}}" ng-click="learn_about_anchors.loadPopover([0,1])">awakened by his cat
			</span>
			 , demanding food. He goes to the kitchen, feeds the cat, and makes himself 
			<span uib-popover="{{learn_about_anchors.popoverText([0,2])}}" class="{{learn_about_anchors.popoverFinishedClass([0,2])}}" ng-click="learn_about_anchors.loadPopover([0,2])">a cup of coffee
			</span>
			 . He then goes for a run, takes 
			<span uib-popover="{{learn_about_anchors.popoverText([0,3])}}" class="{{learn_about_anchors.popoverFinishedClass([0,3])}}" ng-click="learn_about_anchors.loadPopover([0,3])">a quick shower
			</span>
			 , and grabs 
			<span uib-popover="{{learn_about_anchors.popoverText([0,4])}}" class="{{learn_about_anchors.popoverFinishedClass([0,4])}}" ng-click="learn_about_anchors.loadPopover([0,4])">a breakfast bar
			</span>
			  on his way to the bus. He has to be at 
			<span uib-popover="{{learn_about_anchors.popoverText([0,5])}}" class="{{learn_about_anchors.popoverFinishedClass([0,5])}}" ng-click="learn_about_anchors.loadPopover([0,5])">work
			</span>
			  by 8:30 am.
    </div>
    <div class="panel-body" ng-show="learn_about_anchors.panelVisible[1]">
        <h4>A Day in the Life of Maria</h4> 
        	Maria is 
			<span uib-popover="{{learn_about_anchors.popoverText([1,0])}}" class="{{learn_about_anchors.popoverFinishedClass([1,0])}}" ng-click="learn_about_anchors.loadPopover([1,0])">out of work
			</span>
			 . She tries, however, to 
			<span uib-popover="{{learn_about_anchors.popoverText([1,1])}}" class="{{learn_about_anchors.popoverFinishedClass([1,1])}}" ng-click="learn_about_anchors.loadPopover([1,1])">set up meetings
			</span>
			  every day. Sometimes the meetings are to network for jobs. Other meetings are just to 
			<span uib-popover="{{learn_about_anchors.popoverText([1,2])}}" class="{{learn_about_anchors.popoverFinishedClass([1,2])}}" ng-click="learn_about_anchors.loadPopover([1,2])">meet a friend
			</span>
			  for a walk or cup of coffee. Her finances are really tight, so she often 
			<span uib-popover="{{learn_about_anchors.popoverText([1,3])}}" class="{{learn_about_anchors.popoverFinishedClass([1,3])}}" ng-click="learn_about_anchors.loadPopover([1,3])">skips lunch
			</span>
			  but she always tries to 
			<span uib-popover="{{learn_about_anchors.popoverText([1,4])}}" class="{{learn_about_anchors.popoverFinishedClass([1,4])}}" ng-click="learn_about_anchors.loadPopover([1,4])">get some exercise
			</span>
			 , even if it is just a walk around the block. And, of course, she always 
			<span uib-popover="{{learn_about_anchors.popoverText([1,5])}}" class="{{learn_about_anchors.popoverFinishedClass([1,5])}}" ng-click="learn_about_anchors.loadPopover([1,5])">calls her friend
			</span>
			  Anita to update her on her progress.
    </div>
    <div class="panel-body" ng-show="learn_about_anchors.panelVisible[2]">
        <h4>In Hal's Shoes...</h4> 
        	Hal 
			<span uib-popover="{{learn_about_anchors.popoverText([2,0])}}" class="{{learn_about_anchors.popoverFinishedClass([2,0])}}" ng-click="learn_about_anchors.loadPopover([2,0])">struggles with being a widower
			</span>
			 . The worst part is evenings. But he 
			<span uib-popover="{{learn_about_anchors.popoverText([2,1])}}" class="{{learn_about_anchors.popoverFinishedClass([2,1])}}" ng-click="learn_about_anchors.loadPopover([2,1])">tries to keep things going
			</span>
			 , just like when his wife, Ann, was alive. He prepares himself a 
			<span uib-popover="{{learn_about_anchors.popoverText([2,2])}}" class="{{learn_about_anchors.popoverFinishedClass([2,2])}}" ng-click="learn_about_anchors.loadPopover([2,2])">light supper at 5:30 pm
			</span>
			 , which is when they usually ate their evening meal. He 
			<span uib-popover="{{learn_about_anchors.popoverText([2,3])}}" class="{{learn_about_anchors.popoverFinishedClass([2,3])}}" ng-click="learn_about_anchors.loadPopover([2,3])">watches the evening news at 6:30 pm
			</span>
			 . At 7 pm, he 
			<span uib-popover="{{learn_about_anchors.popoverText([2,4])}}" class="{{learn_about_anchors.popoverFinishedClass([2,4])}}" ng-click="learn_about_anchors.loadPopover([2,4])">calls his son in Texas
			</span>
			  to say goodnight to his grandchildren. That gives him pleasure. He 
			<span uib-popover="{{learn_about_anchors.popoverText([2,5])}}" class="{{learn_about_anchors.popoverFinishedClass([2,5])}}" ng-click="learn_about_anchors.loadPopover([2,5])">has trouble filling the time until 9:30 pm
			</span>
			  and often dozes off in front of the TV. At 9:30 pm, he 
			<span uib-popover="{{learn_about_anchors.popoverText([2,6])}}" class="{{learn_about_anchors.popoverFinishedClass([0,0])}}" ng-click="learn_about_anchors.loadPopover([2,6])">takes his medications
			</span>
			  and gets into bed. He usually reads until he gets sleepy, and then he turns off the lights.
    </div>
    <div class="panel-body" ng-show="learn_about_anchors.panelVisible[3]">
        <h3>Great!</h3>
        <p class="alert alert-warning">Holly, some concluding text might be helpful here.</p>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <button ng-show="learn_about_anchors.panelVisible[1]" class="btn btn-default" ng-click="learn_about_anchors.showPanel(0)"><i class="fa fa-chevron-left"></i> Back
                </button>
                <button ng-show="learn_about_anchors.panelVisible[2]" class="btn btn-default" ng-click="learn_about_anchors.showPanel(1)"><i class="fa fa-chevron-left"></i> Back
                </button>
                <button ng-show="learn_about_anchors.panelVisible[3]" class="btn btn-default" ng-click="learn_about_anchors.showPanel(2)"><i class="fa fa-chevron-left"></i> Back
                </button>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                <button ng-show="learn_about_anchors.panelVisible[0]" class="btn btn-primary" ng-click="learn_about_anchors.showPanel(1)">Continue <i class="fa fa-chevron-right"></i>
                </button>
                <button ng-show="learn_about_anchors.panelVisible[1]" class="btn btn-primary" ng-click="learn_about_anchors.showPanel(2)">Continue <i class="fa fa-chevron-right"></i>
                </button>
                <button ng-show="learn_about_anchors.panelVisible[2]" class="btn btn-primary" ng-click="learn_about_anchors.showPanel(3)">Continue <i class="fa fa-chevron-right"></i>
                </button>
                <a class="btn" ng-show="learn_about_anchors.panelVisible[3]" href="#/lessons_current">Return to Your Current Lesson Plan <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>

</div>