<h2>Lesson Plan Archive</h2>

<div ng-repeat="task in lessonsArchive.lessons track by $index" class="bs-callout bs-callout-{{task.status}}}"> 
	
	<span ng-show="!task.available">
		<div class="row">
			<div class="col-md-7 col-sm-7">
			# {{$index}} {{task.name}}
			<br/><label class="label label-success" ng-show="task.completed"><i class="fa fa-check-circle"></i> completed</label>
			</div>
			<div class="col-md-3 col-sm-3">
			not available
			</div>
			<div class="col-md-1 col-sm-1 text-right">
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
			</div>
		</div>
	</span>
	<span ng-show="task.available">
		<a ng-href="#/lessons_current/{{$index}}">
			<div class="row">
				<div class="col-md-7 col-sm-7">
				{{task.name}}
				<br/><label class="label label-success" ng-show="task.completed"><i class="fa fa-check-circle"></i> completed</label>
				</div>
				<div class="col-md-3 col-sm-3">
				</div>
				<div class="col-md-1 col-sm-1 text-right">
				<i class="fa fa-chevron-right" aria-hidden="true"></i>
				</div>
			</div>
		</a>
	</span>
</div>