
<h1>Your Current Lesson Plan</h1>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Rhythms and You (RAY)</h3>
    </div>
	<div class="panel-body">
	This week is all about how <b>RAY (Rhythms and You)</b> works!
	</div>
</div>
	<div ng-repeat="task in lessonsCurrent.lessonPlan.modules track by $index" class="bs-callout bs-callout-{{task.status}}}"> 
	<a ng-href="{{task.target}}">
		<div class="row">
			<div class="col-md-1 col-sm-1">
			<i class="fa fa-{{task.icon}} fa-2x"></i>
			</div>
			<div class="col-md-7 col-sm-7">
			{{task.name}}
			</div>
			<div class="col-md-3 col-sm-3">
			<span ng-if="!task.available">not available</span>
			</div>
			<div class="col-md-1 col-sm-1 align-right">
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
			</div>
		</div>
	</a>
	</div>
</div>