<h2>Your Current Lesson Plan</h2>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">#{{lessonsCurrent.currentLessonCounter}} {{lessonsCurrent.lessonPlan[lessonsCurrent.currentLessonPlan].name}}</h3>
    </div>
	<div class="panel-body">
	{{lessonsCurrent.lessonPlan[lessonsCurrent.currentLessonPlan].description}}
	</div>
</div>
	<div ng-repeat="task in lessonsCurrent.lessonPlan[lessonsCurrent.currentLessonPlan].modules track by $index" class="bs-callout bs-callout-{{task.status}}}"> 
	<a ng-href="{{task.target}}">
		<div class="row">
			<div class="col-md-1 col-sm-1 col-xs-1">
			<i class="fa fa-{{task.icon}} fa-2x"></i>
			</div>
			<div class="col-md-7 col-sm-7 col-xs-7">
			# {{$index+1}} {{task.name}}
			<br/><label class="label label-success" ng-show="task.completed"><i class="fa fa-check-circle"></i> completed</label>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3">
			<span ng-if="!task.available">not available</span>
			</div>
			<div class="col-md-1 col-sm-1 col-xs-1 text-right">
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
			</div>
		</div>
	</a>
	</div>
</div>