<h2>Let's Talk!</h2>
<div class="bs-callout bs-callout-primary"> For this exercise,  think about a recent argument or disagreement that you had with an important person in your life.  You will be asked to recall a lot of details about the discussion so that you can review the effectiveness of your communication.  If you are not happy with how you handled the communication, write down how you would like to do it differently next time. </div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" ng-show="talk.notLastPanel()">Now, think about a recent argument or disagreement that you had with an important person in your life...</h3>
  </div>
  <div class="panel-body" ng-show="talk.panelVisible[0]">
  <h4>Setting the stage</h4>
  <label>Where were you when you had the discussion?
    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <label>Were there distractions?
    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <label> What time of day was it
    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <h4>Verbal communication</h4>
  <label>What did you say?
  <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <label> What did you want to communicate?
    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <label> What did the other person say?
    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <label> What did the other person intend to communicate?
    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <label> What kind of language did you use (vague, exaggerated, swearing, direct)?
    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <label>
  Did you use “I” or “you” statements?    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <h4>Para-verbal communication</h4>
  <label>What was the tone of your voice?
    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <label> How loud or soft was your voice?
    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <label>
  <h4>Non-verbal communication</h4>
  <label>How was your eye contact?
  <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <label> What was your posture like?
    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <label> Where were you sitting?
    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <label> What were you facial expressions like?
    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <label> How active or inactive were you during the conversation?
    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <label> How much gesturing did you do?
    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <h4>Listening</h4>
  <label>Did you pay attention?
  <input type="text" class="form-control">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <label> Did you demonstrate that you were listening by nodding or paraphrasing?
    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <label> Did you provide constructive feedback to the other person?
    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <label> Were you assertive?
    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <label> Were you assertive in the “just right” amount?  Too much?  Too little?
    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <h4>Outcome</h4>
  <label>Did you get your point across?
    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <label> Did you get your need/want met?
    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <label> Are you pleased with how the conversation went?
    <input type="text" class="form-control	">
  </label>
  <label><i>What could you have done better or differently?</i>
    <input type="text" class="form-control	">
  </label><br/>
  <label>
  </div>

  <div class="panel-body" ng-show="talk.panelVisible[1]"> If you were not happy with the outcome of this communication or wish you had been more effective in your communication, you should practice your communication skills next week.  Like all skills, the more you do it, the more proficient you will become.  You can revisit this exercise at any time to see how you are doing with other conversations or disagreements. </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <button ng-show="talk.panelVisible[1]" class="btn btn-default" ng-click="talk.showPanel(0)"><i class="fa fa-chevron-left"></i> Back </button>
        <button ng-show="talk.panelVisible[2]" class="btn btn-default" ng-click="talk.showPanel(1)"><i class="fa fa-chevron-left"></i> Back </button>

      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 text-right">
        <button ng-show="talk.panelVisible[0]" class="btn btn-primary" ng-click="talk.showPanel(1)">Continue <i class="fa fa-chevron-right"></i> </button>
        <a class="btn" ng-show="talk.panelVisible[4]" href="#/lessons_current">Continue <i class="fa fa-chevron-right"></i></a> </div>
    </div>
  </div>
</div>
</div>
