<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsed" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home">RAY</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapsed">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lesson Plans <label ng-show="navbar.newTasks('lessons')" class="label label-success">new!</label><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/lessons_current">Current Lesson Plan</a></li>
            <li><a href="#/history">Explore Your History  <label ng-show="navbar.newTasks('lessons,history')" class="label label-success">new!</label></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#/tools"><i class="fa fa-wrench"></i> Tools</a></li>
            <li><a href="#/handbooks"><i class="fa fa-book"></i> Handbooks</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#/lessons_archive">Lesson Plan Archive</a></li>
            <li><a href="#/tips_archive">Weekly Tips Archive</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SRM <label ng-show="navbar.newTasks('srm')" class="label label-success">new!</label><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/srm">Complete Your SRM</a></li>
            <li><a href="#/srm_history">Your SRM History</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#/srm_about">About the SRM</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{navbar.userName}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/settings">User Settings</a></li>
            <li><a href="#/help">Help</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>