<h1>Remembering a Well Period</h1>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Think of a time when your mood was stable and you were able to function relatively well.<br/>  Answer the following questions with respect to that time period.
</h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label>How were you sleeping?</label>
                <select class="form-control">
                    <option></option>
                    <option>Well</option>
                    <option>Not well</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group">
                <label>Was your sleep schedule regular (getting up and going to bed at about the same time every day)?</label>
                <select class="form-control">
                    <option></option>
                    <option>Yes</option>
                    <option>No</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group">
                <label>How many hours of sleep were you getting most nights?
                </label>
                <select class="form-control">
                    <option></option>
                    <option>less than 7 hours of sleep</option>
                    <option>7-9 hours of sleep</option>
                    <option>more than 9 hours of sleep</option>
                </select>
            </div>
            <div class="form-group">
                <label>Was your daily routine regular (doing activities and eating meals at about the same time every day on most days) ?</label>
                <select class="form-control">
                    <option></option>
                    <option>Yes</option>
                    <option>No</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group">
                <label> If your routines were regular, what were some of the things that helped to keep your routines regular?</label><br/>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> Regular job
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox2" value="option2"> School
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox3" value="option3"> Taking care of kids or family
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox4" value="option4"> Parents keeping me on track
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox5" value="option5"> Regular exercise habits
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox6" value="option6"> Romantic partner
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox7" value="option7"> Pet
                    </label>
            </div>
            <div class="form-group">
                <label>Was there a connection between the stability of your mood and the stability of your routines during this period of your life?</label>
                <select class="form-control" ng-model="stabilityMood">
                    <option></option>
                    <option>Yes</option>
                    <option>No</option>
                    <option>Not Sure</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>