<h2>Remembering a Well Period</h2>
<div class="panel panel-primary" ng-show="!well_period.exerciseComplete">
    <div class="panel-heading">
        <h3 class="panel-title">Think of a time when your mood was stable and you were able to function relatively well.<br/>  Answer the following questions with respect to that time period.
        </h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label>How were you sleeping?</label>
                <select class="form-control">
                    <option></option>
                    <option>Well</option>
                    <option>Not well</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group">
                <label>Was your sleep schedule regular (getting up and going to bed at about the same time every day)?</label>
                <select class="form-control">
                    <option></option>
                    <option>Yes</option>
                    <option>No</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group">
                <label>How many hours of sleep were you getting most nights?
                </label>
                <select class="form-control">
                    <option></option>
                    <option>less than 7 hours of sleep</option>
                    <option>7-9 hours of sleep</option>
                    <option>more than 9 hours of sleep</option>
                </select>
            </div>
            <div class="form-group">
                <label>Was your daily routine regular (doing activities and eating meals at about the same time every day on most days) ?</label>
                <select class="form-control">
                    <option></option>
                    <option>Yes</option>
                    <option>No</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group">
                <label> If your routines were regular, what were some of the things that helped to keep your routines regular?</label><br/>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> Regular job
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox2" value="option2"> School
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox3" value="option3"> Taking care of kids or family
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox4" value="option4"> Parents keeping me on track
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox5" value="option5"> Regular exercise habits
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox6" value="option6"> Romantic partner
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox7" value="option7"> Pet
                    </label>
            </div>
            <div class="form-group">
                <label for="stability">Was there a connection between the stability of your mood and the stability of your routines during this period of your life?</label>
                <select ng-model="well_period.responses.stability" class="form-control" id="stability">
                    <option></option>
                    <option>Yes</option>
                    <option>No</option>
                    <option>Not Sure</option>
                </select>
            </div>
        </form>
    </div>
    <div class="panel-footer">
       <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary" ng-click="well_period.completeExercise()">Submit</button>
            </div>
            <div class="col-md-9">
                <div class="alert alert-warning alert-sm" ng-show="well_period.exerciseAlert != ''">{{well_period.exerciseAlert}}</div>
            </div>
        </div>
    </div>
</div>
<div ng-show="well_period.exerciseComplete" class="panel panel-primary">
    <div class="panel-heading">
        <h3 ng-show="well_period.showFeedback({stability:'Yes'})" class="panel-title">Great!</h3>
        <h3 ng-show="well_period.showFeedback({stability:'No'})" class="panel-title">Thanks!</h3>
        <h3 ng-show="well_period.showFeedback({stability:'Not sure'})" class="panel-title">Thanks!</h3>
    </div>    
    <div class="panel-body" ng-show="well_period.showFeedback({stability:'Yes'})">You have noticed that there is a connection between your mood and rhythms.  RAY will help you learn to improve the stability of your routines which, as you already know, will help your mood.
    </div>
    <div class="panel-body" ng-show="well_period.showFeedback({stability:'No'})">The relationship between mood and routines is complicated.  In RAY, we will explore these connections, helping you to better manage both your mood and rhythms.
    </div>
    <div class="panel-body" ng-show="well_period.showFeedback({stability:'Not sure'})">The relationship between mood and routines is complicated.  In RAY, we will explore these connections, helping you to better manage both your mood and rhythms.  For many people, stable routines can help improve mood. 
    </div>
    <div class="panel-footer">
        <a ng-href="#/lessons_current"><i class="fa fa-chevron-left"></i> return to your current lesson plan</a>
    </div>
</div>