<h2>Setting Manageable Goals</h2>

<div class="bs-callout bs-callout-primary">
	<p>It is important to divide your social rhythm goals into long-term and short-term goals and then to decide which of these goals are “manageable” in a 1-2 week time frame!</p>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Below identify some common social rhythm goals. Decide whether you would categorize them as manageable, unmanageable, or long-term.</h3>
	</div>
	<div class="panel-body" ng-show="manageable.panelVisible[0]">

		<div ng-repeat="goal in manageable.goals track by $index">
		<label>{{goal.name}}</label>
				<div ng-repeat="response in manageable.goalResponses track by $index2">
					<label class="btn btn-default" >
				    	<input type="radio" name="options" ng-model="{{manageable.goals[$index].response}}" value="{{$index2}}"> {{response}} 
				  	</label>
				</div>
		</div>
    </div>
	<div class="panel-body" ng-show="manageable.panelVisible[1]">
    </div>
    <div class="panel-body" ng-show="manageable.panelVisible[1]">
    </div>
	<div class="panel-footer">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                    <button ng-show="manageable.panelVisible[1]" class="btn btn-default" ng-click="manageable.showPanel(0)"><i class="fa fa-chevron-left"></i> Back
                    </button>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                    <button ng-show="manageable.panelVisible[0]" class="btn btn-primary" ng-click="manageable.showPanel(1)">Continue <i class="fa fa-chevron-right"></i>
                    </button>
                    <button ng-show="manageable.panelVisible[1]" class="btn btn-primary" ng-click="manageable.showPanel(2)">Continue <i class="fa fa-chevron-right"></i>
                    </button>
                    <a class="btn" ng-show="manageable.panelVisible[2]" href="#/lessons_current" >Continue <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>