<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html#/">RAY</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lesson Plans <label class="label label-success">new!</label><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/lessons_current">Current Lesson Plan  <label class="label label-success">new!</label></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#/lessons_archive">Old Lesson Plans</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SRM <label class="label label-success">new!</label><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/srm">Complete Your SRM</a></li>
            <li><a href="#/srm_history">Your SRM History</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#/srm_about">About the SRM</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> RAY User <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/settings">User Settings</a></li>
            <li><a href="#/help">Help</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#/sign_out">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>