<h2>Social Rhythm Metric ({{100*srm.daysLeftToLog()/7 | number:0}}% complete)</h2>

<p ng-show="srm.showTargetTimes"><a data-toggle="modal" data-target="#targetTimesModal">Reset your target times <i class="fa fa-clock-o" aria-hidden="true"></i></a>
</p>

<table class="full-width-table hidden-xs">
    <tr>
        <td ng-repeat="srmDay in srm.srmDays() track by $index" style="width:{{(100/7)}}%;" class="text-center">
            <button ng-click="srm.goToDay(srmDay.dayIndex)" class="btn {{srm.daySelectionActive(srmDay.dayIndex)}} btn-xs btn-{{srm.srmDayStatusLabel(srmDay.accessible,srmDay.complete)}}">
            {{srm.dayIndexToString[srmDay.dayIndex]}} <br/>
            <span ng-show="srmDay.complete">complete</span>
            <span ng-show="srmDay.accessible && !srmDay.complete">click to finish</span>
            <span ng-show="!srmDay.accessible">not available</span>
            </button>
        </td>
    </tr>
</table>

<div ng-repeat="srmDay in srm.srmDays() track by $index">
    <div class="panel panel-primary" ng-show="srmDay.dayIndex == srm.currentActiveDay">
        <div class="panel-heading">
            <h3 class="panel-title">On {{srm.dayIndexToString[srmDay.dayIndex]}}:</h3>
        </div>
        <div class="panel-body">
        <h3>What time did you...</h3>
            <form>
                <div class="form-group">
                    <label for="getOutOfBed"><!-- <i class="fa fa-bed fa-2x fa-fw"></i>  -->Get out of bed?</label>
                    <input type="time" class="form-control" id="getOutOfBed" ng-model="srmDay.getOutOfBed[srmDay.dayIndex]">
                </div>
                <div class="form-group">
                    <label for="firstContact">Have your first contact with another person?</label>
                    <input type="time" class="form-control" id="firstContact" ng-model="srmDay.firstContact[srmDay.dayIndex]">
                </div>
                <div class="form-group">
                    <label for="startWork">Start your work, school, volunteer work or family care?
                    </label>
                    <input type="time" class="form-control" id="startWork" ng-model="srmDay.startWork[srmDay.dayIndex]">
                </div>
                <div class="form-group">
                    <label for="haveDinner">Have dinner?</label>
                    <input type="time" class="form-control" id="haveDinner" ng-model="srmDay.haveDinner[srmDay.dayIndex]">
                </div>
                <hr/>
                <div class="form-group" ng-show="srm.showMoodRatings">
                    <label for="mood"> On a scale from 1-10, what was your mood? <label class="label label-success">{{srmDay.mood[srmDay.dayIndex]}}</label></label>
                    <input type="range" class="form-control" id="mood" ng-model="srmDay.mood[srmDay.dayIndex]" min="1" max="10" step="1">
                    <div class="row">
                        <div class="col-md-4 col-xs-4 col-sm-4 text-left">Bad</div>
                        <div class="col-md-4 col-xs-4 col-sm-4 text-center"></div>
                        <div class="col-md-4 col-xs-4 col-sm-4 text-right">Good</div>
                    </div>
                </div>
                <div class="form-group" ng-show="srm.showMoodRatings">
                    <label for="energy">On a scale from 1-10, what was your energy level?  <label class="label label-success">{{srmDay.energy[srmDay.dayIndex]}}</label></label>
                    <input type="range" class="form-control" id="energy" ng-model="srmDay.energy[srmDay.dayIndex]" min="1" max="10" step="1">
                    <div class="row">
                        <div class="col-md-4 col-xs-4 col-sm-4 text-left">Low</div>
                        <div class="col-md-4 col-xs-4 col-sm-4 text-center"></div>
                        <div class="col-md-4 col-xs-4 col-sm-4 text-right">High</div>
                    </div>
                </div>
                <p><a data-toggle="modal" data-target="#helpModal">Need help picking your times?</a>
                </p>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                    <a ng-show="srm.showGotoPreviousDay()" ng-click="srm.gotoPreviousDay()" ><i class="fa fa-chevron-left"></i>
                    previous day</a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                    <a ng-show="srm.showGotoNextDay()" ng-click="srm.gotoNextDay()">next day
                    <i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="targetTimesModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">SRM Target Times</h4>
            </div>
            <div class="modal-body">
                <h3>Write the ideal target time that you would like to do each of these daily activities:</h3>
                <div class="form-group">
                    <label for="getOutOfBed">Get out of bed </label>
                    <input type="time" class="form-control" id="getOutOfBed" ng-model="srm.targetTimes.getOutOfBed">
                </div>
                <div class="form-group">
                    <label for="firstContact">Have your first contact with another person </label>
                    <input type="time" class="form-control" id="firstContact" ng-model="srm.targetTimes.firstContact">
                </div>
                <div class="form-group">
                    <label for="startWork">Start your work, school, volunteer work or family care?
                    </label>
                    <input type="time" class="form-control" id="startWork" ng-model="srm.targetTimes.startWork">
                </div>
                <div class="form-group">
                    <label for="haveDinner">Have dinner</label>
                    <input type="time" class="form-control" id="haveDinner" ng-model="srm.targetTimes.haveDinner">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="helpModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Need some help picking your times?</h4>
            </div>
            <div class="modal-body">
<div class="panel-body lesson-slide ng-binding">
    <h4>Here are some tips about questions that commonly arise when completing the SRM</h4>

    <h5>Time Out of Bed</h5>

    <ul>
    <li>Record the time that your feet hit the ground in the morning (your body clock has sensors that can tell you are vertical)<br></li>
    <li>If you get up to use the bathroom and then go back to bed briefly, it doesn't count</li>
    <li>If you are out of bed for at least 30 minutes, count that as your Time Out of Bed (even if you go back to bed later for a nap)</li>
    <li>If you are awake but lying in bed, don't record "Out of Bed" until your feet are on the floor for at least 30 minutes.</li>
    </ul>

    <h5>First Contact with Another Person  </h5>

    <ul>
    <li>This refers to your first reciprocal contact with another person.  How you define "reciprocal" is up to you.<br></li>
    <li>"Reciprocal" typically means that the other person responds to you in real time.  Texts don't usually count because there is often a delay before the other person responds. However, if you get a quick response from a text, you may decide it counts.<br></li>
    <li>Facebook probably doesn't count, but Facebook Messenger might, if the person responds immediately.<br></li>
    <li>If you pass your roommate in the bathroom and he or she says "hi," that counts.<br></li>
    <li>If you order a latte from a barrista at a coffee shop, that counts.<br></li>
    <li>If your cat jumps on your head and wakes you up, that does not count.  It has to be a person.<br></li>
    </ul>

    <h5>Time that you start your usual daily activity</h5>

    <ul>
    <li>Usual daily activity can be anything: a job, housework, classes, volunteer work.  The idea is to pick something that you do multiple times per week.<br></li>
    <li>There may be days when you do not have a daily activity (for instance, if you work Monday through Friday but do not work on the weekend).</li>
    <li>If you have different kinds of activities that you do across the week but each of them gets you out of the house, you can use different activities each day (for instance, on Mondays and Wednesday, you play golf, on Tuesdays and Thursdays you volunteer in the local school, on Fridays you have a book club, and on Sunday you go to church).<br></li>
    </ul>

    <h5>Dinner Time</h5>

    <ul>
    <li>Record the time that you eat (rather than prepare) dinner.  Your body clock has sensors in the intestinal track that is affected by the time that you eat your meals.<br></li>
    <li>If you do not eat dinner on a specific day, it will be recorded as missing.  This is important information that you will examine in subsequent weeks. </li>
    </ul>

    <h5>Bed Time</h5>>

    <ul>
    <li>Record the time that you turn out the lights for the night with the intent to go to sleep.<br></li>
    <li>If you get into bed at 10:30 pm and read for half an hour before turning off the lights at 11 pm, you would record 11 pm as your bed time.</li>
    <li>If you are up and down multiple times during the night, record the time that you first tried to go to sleep for at least 30 minutes.<br></li>
    <li>If you fall asleep on the couch for an hour after dinner, get up and the go to bed at 1 am for the rest of the night, record 1 am as your bed time.  The time on the couch would be considered a nap.<br></li>
    </ul>
</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>