<h2>Setting Your Social Rhythm Goals</h2>

<div class="bs-callout bs-callout-primary">
	<p>Setting and meeting SRM goals can help you improve your social rhythms and your mood.</p>

	<p>This week you will set one short term SRM goal.  The idea is to pick a goal that you think you might be able to accomplish by the end of the week. Don’t pick something too ambitious.<p>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Select one of the following SRM goals--each goal will come with a list of tips and suggestions to help you reach your goal this week.
		</h3>
	</div>
	<div class="panel-body">
		<h3>Pick something that you would like to work on and yet doesn’t seem too overwhelming</h3>
	</div>
	<div class="panel-footer">
	</div>
</div>