<h2>Get Help With Your Goal</h2>
<div class='bs-callout bs-callout-primary'>
	You can always rely on your strategies to help!
</div>


<div class="panel panel-primary">
	<div class="panel-heading">
	<h3 class="panel-title">Your Goal and Strategies</h3>
	</div>
	<div class="panel-body">
		<h4>{{srm_help.title}}</h4>
		<div ng-bind-html="srm_help.strategiesHTML"></div>
	</div>
	<div class="panel-footer">
		<div class="row">
		<div class="col-md-12 text-right">
		<a class="btn" href="#/">return home <i class="fa fa-chevron-right"></i></a>
		</div>
		</div>
	</div>
</div>