<div class="jumbotron">
  <h2>Welcome back to RAY, {{home.currentUser}}!</h2>

  <p>This week's goal: <div class="well">Get up earlier than your current wake up time.</div></p>

  <p>Today's activities!</p>

  <p><a class="btn btn-primary btn-lg" href="#/lessons_current" role="button">Review your current lesson plan</a>
  <br/>  
  <a class="btn btn-info btn-lg" href="#/srm" role="button">Complete your weekly SRM</a></p>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <i class="fa fa-book fa-5x" aria-hidden="true"></i>
        <h3>This week's lesson plan</h3>
        <p>This week's lesson plan is all about orienting you to the way that RAY works!</p>
        <p><a href="#/lessons_current" class="btn btn-primary" role="button">Start now!</a> </p>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <i class="fa fa-bolt fa-5x" aria-hidden="true"></i>
      <div class="caption">
        <h3>Your Social Rhythm Metric</h3>
        <p>You have only finished 4 out of the last 7 days of your SRM.</p>
        <p><a href="#/srm" class="btn btn-info" role="button">Finish it!</a></p>
      </div>
    </div>
  </div>  
</div>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <i class="fa fa-question-circle-o fa-5x" aria-hidden="true"></i>
        <h3>Need some assistance?</h3>
        <p>Feel free to post a question to RAY project staff if you need some help!</p>
        <p><a href="#/help" class="btn btn-primary" role="button">Ask for help!</a> </p>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <i class="fa fa-hand-pointer-o fa-5x" aria-hidden="true"></i>
      <div class="caption">
        <h3>Quick tip!</h3>
        <p>Being mindful of your sleep can greatly affect how you feel!</p>
      </div>
    </div>
  </div>  
</div>