<ion-view title="All About Rhythms and You" id="page16">
    <ion-content padding="true" class="has-header">
        <h2 id="allAboutRhythmsAndYou-heading11" style="color:#000000;">Welcome to Rhythms and You (RAY)</h2>
        <div id="allAboutRhythmsAndYou-markdown30" style="color:#000000;">
            <p>RAY is based on a tested psychological treatment that helps people understand and manage the symptoms of bipolar disorder. We have had a lot experience helping others like you improve their mood by learning about how routines affect mood.</p>

            <p>In RAY, you will learn about your body clock, routines, and mood. You will also learn to communicate better with important people in your life and your doctor.</p>

            <p>Many people also take medication to help them manage their moods and bipolar disorder. Talk to your doctor about whether medications are right for you.</p>

            <p>Here's what people are saying about RAY:</p>

            <p>"I learned about the importance of getting up at the same time every day. It's hard but it helps."---Hiroko, age 24</p>

            <p>"I've noticed that my mood is much worse when I skip meals. I used to forget to eat dinner when I worked late, but now I am really careful about my routines. It helps me feel better." ---Jason, age 38</p>

            <p>"When my kids are on vacation, my schedules gets crazy. That is when I get depressed. RAY helped me learn about the importance of routines for the whole family." --Kelly, age 41</p>
        </div>
        <h2 id="allAboutRhythmsAndYou-heading12" style="color:#000000;">Everyone Has a Body Clock</h2>
        <div>
            <img src="img/4sTpEEtmTfWhtoqx0ttn_shutterstock_67838371.jpg" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h2 id="allAboutRhythmsAndYou-heading13" style="color:#000000;">What does your body clock do?</h2>
        <div id="allAboutRhythmsAndYou-markdown31" style="color:#000000;">
            <p>Your body clock controls the timing of many important activities in your body:</p>

            <ul>
                <li>Sleep</li>
                <li>Energy</li>
                <li>Appetite</li>
                <li>Blood Pressure</li>
                <li>Digestion</li>
                <li>Concentration</li>
            </ul>
        </div>
        <h2 id="allAboutRhythmsAndYou-heading14" style="color:#000000;">The Rhythm of Life</h2>
        <div id="allAboutRhythmsAndYou-markdown32" style="color:#000000;">
            <p>Although you may not be aware of it, your body clock controls many of your life rhythms. These are called your Circadian Rhythms.</p>
        </div>
        <div>
            <img src="img/dMcHrWPmTDe4qje6P2aA_circadian-rhythm-chart-on-physiology.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="allAboutRhythmsAndYou-markdown42" style="color:#000000;">
            <p>Read more about this at:
                <a href="https://www.nigms.nih.gov/Education/Pages/Factsheet_CircadianRhythms.aspx">NIH Circadian Rhythms Fact Sheet</a>
            </p>
        </div>
        <h2 id="allAboutRhythmsAndYou-heading15" style="color:#000000;">What Are Circadian Rhythms?</h2>
        <div id="allAboutRhythmsAndYou-markdown33" style="color:#000000;">
            <p>Circadian rhythms are body processes controlled by a collection of biologic pacemakers located throughout the body that run on an approximate 24 hour cycle.</p>

            <ul>
                <li>The main pacemaker (biologic clock) is located in the brain, but pacemakers can be found in almost every organ including skin and stomach</li>
                <li>Circadian rhythms are controlled by internal factors (the body clock) and external factors (environmental cues)</li>
                <li>Virtually all living organisms (including plants!) have circadian rhythms</li>
                <li>Circadian rhythms help plants and animals live harmoniously with their environment</li>
            </ul>

            <p>Click here to learn more about
                <a href="https://publications.nigms.nih.gov/insidelifescience/biological-clocks.html">the biology of Circadian Rhythms</a>
            </p>
        </div>
        <h2 id="allAboutRhythmsAndYou-heading16" style="color:#000000;">When Circadian Rhythms Miss a Beat</h2>
        <div id="allAboutRhythmsAndYou-markdown34" style="color:#000000;">
            <h3>Like all timekeepers, body clocks sometimes get off track and have to be reset.</h3>

            <p>
                <strong>A good example is jet lag.</strong>
            </p>

            <ul>
                <li>When you travel to a new time zone, your body is on a different schedule from the new environment, because your body clock stays for some time on the circadian rhythm you developed in your previous time zone.</li>
                <li>The longer you stay in the new time zone, the more your body clock aligns with the external clock.</li>
                <li>The process of alignment is driven by environmental cues, especially light and darkness, which tell your body clock whether it is day or night.</li>
                <li>Other cues that help re-set your body clock: when you eat and when you are active/inactive</li>
                <li>Jet lag occurs when your body clock is out of sync with cues from a new time zone.</li>
            </ul>

            <p>
                <strong>Symptoms of being out of sync with your body clock include:</strong>
                <br>1. Fatigue
                <br>2. Sleepiness
                <br>3. Poor appetite
                <br>4. Difficulty with concentration 5. Irritability
                <br>6. Change in bowel habits .</p>
        </div>
        <h2 id="allAboutRhythmsAndYou-heading18" style="color:#000000;">Body Clock and Mood Disorders</h2>
        <div id="allAboutRhythmsAndYou-markdown35" style="color:#000000;">
            <p>What does your body clock have to do with your mood disorder?</p>

            <p>When you have a mood disorder</p>

            <ol>
                <li>Your body clock is much more sensitive to shifts in schedules, time zones, and routines</li>
                <li>It is harder for your body clock to stay regular</li>
                <li>When your body clock gets off track, it is harder for it to get back on track</li>
                <li>Not having a regular routine make your moods worse</li>
            </ol>
        </div>
        <h2 id="allAboutRhythmsAndYou-heading17" style="color:#000000;">Rhythm Checks</h2>
        <div id="allAboutRhythmsAndYou-markdown36" style="color:#000000;">
            <p>What does your body clock have to do with your mood disorder?</p>

            <p>When you have a mood disorder</p>

            <ol>
                <li>Your body clock is much more sensitive to shifts in schedules, time zones, and routines</li>
                <li>It is harder for your body clock to stay regular</li>
                <li>When your body clock gets off track, it is harder for it to get back on track</li>
                <li>Not having a regular routine make your moods worse</li>
            </ol>
        </div>
        <h2 id="allAboutRhythmsAndYou-heading19" style="color:#000000;">Is Your Body Clock Regular?</h2>
        <div id="allAboutRhythmsAndYou-markdown37" style="color:#000000;">
            <p>How regular is your body clock? Below are some questions that will help you think about regularity of your body clock. We will pay a lot of attention to regular rhythms in RAY.</p>

            <ol>
                <li>Do you go to bed at the same time every night?</li>
                <li>Do you get up at the same time every day?</li>
                <li>Do you have dinner every night?</li>
                <li>Do you exercise every day?</li>
                <li>Do you see other people at the same time every day?</li>
            </ol>

            <p>If you answered "no" to one or more of these questions, you can work on improving the regularity of your rhythms which will, in turn, help your mood.</p>

            <p>Let's get started!</p>
        </div>
        <h2 id="allAboutRhythmsAndYou-heading21" style="color:#000000;">Introduction to Remembering a Well Period</h2>
        <div id="allAboutRhythmsAndYou-markdown38" style="color:#000000;">
            <p>Can you remember a "Well Period"? This would be a time when you</p>

            <ul>
                <li>Functioned well in your personal and work life (though not so "well" as to be characterized as manic)</li>
                <li>Made rational decisions</li>
                <li>Felt neither consistently down or nor consistently up/irritable</li>
            </ul>

            <p>The goal of the next exercise it to remember your routines during a well period</p>

            <ul>
                <li>Did you have have regular routines during your well period?</li>
                <li>Was there a connection between your routines and mood?</li>
                <li>Which came first...routines or mood?</li>
                <li>How similar (or different) are your current routines from those during the well period ?</li>
            </ul>

            <p>The next exercise will ask you to reflect on these questions.</p>
        </div>
        <h2 id="allAboutRhythmsAndYou-heading20" style="color:#000000;">Introducing the Social Rhythm Metric</h2>
        <div id="allAboutRhythmsAndYou-markdown39" style="color:#000000;">
            <p>Now that you've had a chance to think about your routines during a well period, let's focus on your current routines.</p>

            <p>The Social Rhythm Metric (SRM)</p>

            <ul>
                <li>Helps you keep track of your daily routines and rhythms</li>
                <li>Takes less than a minute to complete</li>
                <li>Should be completed every day</li>
                <li>Shows you the relationship between your rhythms and your mood</li>
                <li>Allows you to set rhythm goals for yourself</li>
            </ul>

            <p>This week, you will start by filling out the SRM. You will be asked to record the time that you do each of the following activities:</p>

            <ul>
                <li>Time you get out of Bed</li>
                <li>First Contact with Another Person</li>
                <li>Time that you start your usual daily activity</li>
                <li>Dinner Time</li>
                <li>Bed Time</li>
            </ul>

            <p>Next week we will check to see how that went for you.</p>
        </div>
        <h2 id="allAboutRhythmsAndYou-heading22" style="color:#000000;">SRM FAQs</h2>
        <div id="allAboutRhythmsAndYou-markdown40" style="color:#000000;">
            <p>
                <strong>Here are some tips about questions that commonly arise when completing the SRM</strong>
            </p>

            <p>
                <strong>Time Out of Bed</strong>
            </p>

            <ol>
                <li>Record the time that your feet hit the ground in the morning (your body clock has sensors that can tell you are vertical)</li>
                <li>If you get up to use the bathroom and then go back to bed briefly, it doesn't count</li>
                <li>If you are out of bed for at least 30 minutes, count that as your Time Out of Bed (even if you go back to bed later for a nap)</li>
                <li>If you are awake but lying in bed, don't record "Out of Bed" until your feet are on the floor for at least 30 minutes.</li>
            </ol>

            <p>
                <strong>First Contact with Another Person</strong>
            </p>

            <ol>
                <li>This refers to your first reciprocal contact with another person. How you define "reciprocal" is up to you.</li>
                <li>"Reciprocal" typically means that the other person responds to you in real time. Texts don't usually count because there is often a delay before the other person responds. However, if you get a quick response from a text, you may decide
                    it counts.</li>
                <li>Facebook probably doesn't count, but Facebook Messenger might, if the person responds immediately.</li>
                <li>If you pass your roommate in the bathroom and he or she says "hi," that counts.</li>
                <li>If you order a latte from a barrista at a coffee shop, that counts.</li>
                <li>If your cat jumps on your head and wakes you up, that does not count. It has to be a person.</li>
            </ol>

            <p>
                <strong>Time that you start your usual daily activity</strong>
            </p>

            <ol>
                <li>Usual daily activity can be anything: a job, housework, classes, volunteer work. The idea is to pick something that you do multiple times per week.</li>
                <li>There may be days when you do not have a daily activity (for instance, if you work Monday through Friday but do not work on the weekend).</li>
                <li>If you have different kinds of activities that you do across the week but each of them gets you out of the house, you can use different activities each day (for instance, on Mondays and Wednesday, you play golf, on Tuesdays and Thursdays
                    you volunteer in the local school, on Fridays you have a book club, and on Sunday you go to church).</li>
            </ol>

            <p>
                <strong>Dinner Time</strong>
            </p>

            <ol>
                <li>Record the time that you eat (rather than prepare) dinner. Your body clock has sensors in the intestinal track that is affected by the time that you eat your meals.</li>
                <li>If you do not eat dinner on a specific day, it will be recorded as missing. This is important information that you will examine in subsequent weeks.</li>
            </ol>

            <p>
                <strong>Bed Time</strong>
            </p>

            <ol>
                <li>Record the time that you turn out the lights for the night with the intent to go to sleep.</li>
                <li>If you get into bed at 10:30 pm and read for half an hour before turning off the lights at 11 pm, you would record 11 pm as your bed time.</li>
                <li>If you are up and down multiple times during the night, record the time that you first tried to go to sleep for at least 30 minutes.</li>
                <li>If you fall asleep on the couch for an hour after dinner, get up and the go to bed at 1 am for the rest of the night, record 1 am as your bed time. The time on the couch would be considered a nap.</li>
            </ol>
        </div>
        <h2 id="allAboutRhythmsAndYou-heading25" style="color:#000000;">Social Rhythm Tip for the Week</h2>
        <div id="allAboutRhythmsAndYou-markdown41" style="color:#000000;">
            <p>It makes a lot of sense that you might resist the idea of sticking to a routine.</p>

            <p>Most of us would rather just do what we feel like doing in any given moment.</p>

            <p>But the research definitely shows that the more you stick to a routine, the more stable your mood will be.</p>

            <p>Even small changes in this direction are helpful.</p>
        </div>
        <a ui-sref="menu.ray" id="allAboutRhythmsAndYou-button15" class="button button-positive  button-block">Continue</a>
    </ion-content>
</ion-view>