<ion-view title="Anticipating Progress Questions" id="page12">
    <ion-content padding="true" class="has-header">
        <div class="button-bar"></div>
        <div id="anticipatingProgressQuestions-markdown9" style="color:#000000;">
            <p>Please rate the extent to which you agree with the following statements:</p>
        </div>
        <div id="anticipatingProgressQuestions-markdown18" style="color:#000000;">
            <p>I have very regular daily routines</p>
        </div>
        <div id="anticipatingProgressQuestions-markdown10" style="color:#000000;">
            <p>I am able to increase the regularity of my daily routines</p>
        </div>
        <div class="button-bar">
            <button id="anticipatingProgressQuestions-button10" class="button button-positive  button-block">1</button>
            <button id="anticipatingProgressQuestions-button11" class="button button-positive  button-block">2</button>
            <button id="anticipatingProgressQuestions-button12" class="button button-positive  button-block">3</button>
        </div>
        <div id="anticipatingProgressQuestions-markdown11" style="color:#000000;">
            <p>I am pleased with my SRM scores</p>
        </div>
        <div id="anticipatingProgressQuestions-markdown12" style="color:#000000;">
            <p>I am aware of the social rhythm anchors in my life</p>
        </div>
        <div id="anticipatingProgressQuestions-markdown13" style="color:#000000;">
            <p>I am able to recognize the symptoms of bipolar disorder</p>
        </div>
        <div id="anticipatingProgressQuestions-markdown14" style="color:#000000;">
            <p>I feel comfortable rating my mood on a -5 to + 5 scale</p>
        </div>
        <div id="anticipatingProgressQuestions-markdown15" style="color:#000000;">
            <p>I recognize the link between body clock and daily rhythms in my own life</p>
        </div>
        <div id="anticipatingProgressQuestions-markdown16" style="color:#000000;">
            <p>I recognize the link between daily rhythms and moods in my own life</p>
        </div>
        <div id="anticipatingProgressQuestions-markdown17" style="color:#000000;">
            <p>I understand how “sleep juice” affects my sleep patterns</p>
        </div>
        <div id="anticipatingProgressQuestions-markdown21" style="color:#000000;">
            <p>I feel I have control over my sleep</p>
        </div>
        <div id="anticipatingProgressQuestions-markdown20" style="color:#000000;">
            <p>I recognize patterns of problem communication</p>
        </div>
        <div id="anticipatingProgressQuestions-markdown22" style="color:#000000;">
            <p>I use “I” statements when I communicate</p>
        </div>
        <div id="anticipatingProgressQuestions-markdown19" style="color:#000000;">
            <p>I communicate well with people</p>
        </div>
    </ion-content>
</ion-view>