<ion-view title="Anticipating Progress" id="page11">
    <ion-content padding="true" class="has-header">
        <div id="anticipatingProgress-markdown8" style="color:#000000;">
            <p>The following are examples of topics that will be covered in RAY.</p>

            <p>Don’t worry if they are unfamiliar to you now; you will learn more about them over the next few weeks.</p>

            <p>Before you begin, you will be asked to rate your abilities in several areas.</p>

            <p>At the end of RAY, you will be asked to rate your abilities again to see if it they have changed.</p>
        </div>
        <button id="anticipatingProgress-button6" class="button button-positive  button-block icon-right ion-ios-arrow-forward">Continue</button>
    </ion-content>
</ion-view>