<ion-view title="Daily Mood / Energy Level" id="page10">
    <ion-content padding="true" class="has-header">
        <h4 id="dailyMoodEnergyLevel-heading6" style="color:#000000;">On Sunday, what was your...</h4>
        <form class="list">
            <ion-item class="range range-positive">Mood
                <input type="range" value="0" min="-5" max="5">
            </ion-item>
            <div id="dailyMoodEnergyLevel-markdown5" style="color:#000000;"></div>
        </form>
        <form class="list">
            <div id="dailyMoodEnergyLevel-markdown7" style="color:#000000;">
                <p>-5 = very depressed</p>

                <p>+5 = very elated</p>
            </div>
            <ion-item class="range range-positive">Energy
                <input type="range" value="0" min="-5" max="5">
            </ion-item>
        </form>
        <div id="dailyMoodEnergyLevel-markdown6" style="color:#000000;">
            <p>-5 = very slowed, fatigued</p>

            <p>+5 = very energetic, elated</p>
        </div>
        <button id="dailyMoodEnergyLevel-button5" class="button button-positive  button-block icon-right ion-ios-arrow-forward">Continue</button>
    </ion-content>
</ion-view>