<ion-view title="Daily People" id="page9">
    <ion-content padding="true" class="has-header">
        <h4 id="dailyPeople-heading5" style="color:#000000;">On Sunday, who was involved when you...</h4>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Got out of bed?</span>
                <select>
                    <option>No one</option>
                    <option>Others present</option>
                    <option>Others actively involved</option>
                    <option>Others very stimulating</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Had first contact with another person?</span>
                <select>
                    <option>No one</option>
                    <option>Others present</option>
                    <option>Others actively involved</option>
                    <option>Others very stimulating</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Started work / school / volunteer / family care?</span>
                <select>
                    <option>No one</option>
                    <option>Others present</option>
                    <option>Others actively involved</option>
                    <option>Others very stimulating</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Had dinner?</span>
                <select>
                    <option>No one</option>
                    <option>Others present</option>
                    <option>Others actively involved</option>
                    <option>Others very stimulating</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Went to bed?</span>
                <select>
                    <option>No one</option>
                    <option>Others present</option>
                    <option>Others actively involved</option>
                    <option>Others very stimulating</option>
                </select>
            </label>
            <button id="dailyPeople-button4" class="button button-positive  button-block icon-right ion-ios-arrow-forward">Continue</button>
        </form>
    </ion-content>
</ion-view>