<ion-view title="Daily Time" id="page8">
    <ion-content padding="true" class="has-header">
        <h4 id="dailyTime-heading4" style="color:#000000;">On Sunday, what time did you...</h4>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Get out of bed?</span>
                <select>
                    <option>9:00 AM</option>
                    <option></option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Have your first
                    <br>contact with
                    <br>another person?</span>
                <select>
                    <option>9:00 AM</option>
                    <option></option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Start your work,
                    <br>school, volunteer
                    <br>work or family care?</span>
                <select>
                    <option>9:00 AM</option>
                    <option></option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Have dinner?</span>
                <select>
                    <option>9:00 AM</option>
                    <option></option>
                </select>
            </label>
            <a ui-sref="menu.dailyPeople" id="dailyTime-button3" class="button button-positive  button-block icon-right ion-ios-arrow-forward">Continue</a>
        </form>
    </ion-content>
</ion-view>