<ion-view title="Exercises - Lesson 8" id="page19">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-icon-left">
                <i class="icon ion-ionic"></i>SRM Feedback</ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ionic"></i>SRM Goal Setting VI</ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ionic"></i>My Social Changes</ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ionic"></i>Loneliness and Moods</ion-item>
        </ion-list>
    </ion-content>
</ion-view>