<ion-view title="Exercises - Lesson 5" id="page21">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-icon-left">
                <i class="icon ion-ionic"></i>SRM Feedback</ion-item>
            <ion-item class="item-icon-left item-icon-right" ui-sref="menu.reduceYourTimeInBed">
                <i class="icon ion-ionic"></i>Reduce Your Time in Bed
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ionic"></i>Sleep Calculator
                <span class="item-note">not available</span>
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ionic"></i>My "I can't sleep plan"
                <span class="item-note">not available</span>
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ionic"></i>SRM Goal Setting III
                <span class="item-note">not available</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>