<ion-view title="Exercises - Lesson 8" id="page19">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-icon-left">
                <i class="icon ion-ionic"></i>SRM Feedback</ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ionic"></i>SRM Goal Setting VI
                <span class="item-note">not available</span>
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ionic"></i>My Social Changes</ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-ionic"></i>Reduce Your Time in Bed
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-ionic"></i>Loneliness and Moods
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>