<ion-view title="Exercises - Lesson 1" id="page4">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-ios-book"></i>1. All About Rhythms and You
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-android-cloud"></i>2. Remembering a Well Period
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-left" ui-sref="menu.socialRhythmAnchorsPart1">
                <i class="icon ion-ionic"></i>3. Social Rhythm Anchors</ion-item>
            <ion-item class="item-icon-left item-icon-right" ui-sref="menu.socialRhythmMetric">
                <i class="icon ion-ionic"></i>4. Social Rhythm Metric
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>