<ion-view title="Lessons" id="page2">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-icon-left item-icon-right" ui-sref="menu.exercisesLesson1">
                <i class="icon ion-ionic"></i>1. Rhythms and You
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ionic"></i>2. Rhythms and Blues
                <span class="item-note">not available</span>
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ionic"></i>3. Finding the Beat
                <span class="item-note">not available</span>
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ionic"></i>4. Bipolar and Physical Health
                <span class="item-note">not available</span>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" ui-sref="menu.exercisesLesson5">
                <i class="icon ion-ionic"></i>5. Rhythms and Sleep
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ionic"></i>6. Even Better Sleep
                <span class="item-note">not available</span>
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ionic"></i>7. Skipped Beats
                <span class="item-note">not available</span>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-ionic"></i>8. Social Rhythms
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ionic"></i>9. Let's Talk
                <span class="item-note">not available</span>
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ionic"></i>10. Relationships &amp; Rhythms
                <span class="item-note">not available</span>
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ionic"></i>12. Timing Tomorrow
                <span class="item-note">not available</span>
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ionic"></i>Staying in Rhythm
                <span class="item-note">not available</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>