<ion-view title="Loneliness and Mood" id="page22">
    <ion-content padding="true" class="has-header">
        <h2 id="lonelinessAndMood-heading8" style="color:#000000;">Some people do not have many relationships or have difficulty maintain relationships.</h2>
        <h3 id="lonelinessAndMood-heading9" style="color:#000000;">To determine if this may apply to you, answer the following questions.</h3>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Do you have problems making close relationships?</span>
                <select>
                    <option>Yes</option>
                    <option>No</option>
                    <option>Don't know</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Do you have any close relationships?</span>
                <select>
                    <option>Yes</option>
                    <option>No</option>
                    <option>Don't know</option>
                </select>
            </label>
            <div class="spacer" style="width: 733px; height: 28px;"></div>
            <div id="lonelinessAndMood-markdown26" style="color:#000000;">
                <p>
                    <strong>If “yes”, check with whom you have a close relationship</strong>
                </p>
            </div>
            <ion-checkbox>Friends</ion-checkbox>
            <ion-checkbox>Family</ion-checkbox>
            <ion-checkbox>Romantic Partner</ion-checkbox>
            <ion-checkbox>Employer/employee</ion-checkbox>
            <ion-checkbox>Other</ion-checkbox>
            <div class="spacer" style="width: 733px; height: 30px;"></div>
            <label class="item item-select">
                <span class="input-label">Do you find it difficult to keep close relationships once you have them?</span>
                <select>
                    <option>Yes</option>
                    <option>No</option>
                    <option>Don't know</option>
                </select>
            </label>
        </form>
        <div class="spacer" style="width: 733px; height: 22px;"></div>
        <div id="lonelinessAndMood-markdown43" style="color:#000000;">
            <p>
                <strong>How did you feel about your</strong>difficulties with relationships? Check all that apply:</p>
        </div>
        <form class="list">
            <ion-checkbox>Happy</ion-checkbox>
            <ion-checkbox>Sad</ion-checkbox>
            <ion-checkbox>Angry</ion-checkbox>
            <ion-checkbox>Scared</ion-checkbox>
            <ion-checkbox>Excited</ion-checkbox>
            <ion-checkbox>Worried</ion-checkbox>
            <ion-checkbox>Joyful</ion-checkbox>
            <ion-checkbox>Calm</ion-checkbox>
            <ion-checkbox>Satisfied</ion-checkbox>
            <ion-checkbox>Determined</ion-checkbox>
            <ion-checkbox>Intimidated</ion-checkbox>
            <ion-checkbox>Overwhelmed</ion-checkbox>
            <ion-checkbox>Confused</ion-checkbox>
            <ion-checkbox>Disgusted</ion-checkbox>
            <ion-checkbox>Hopeful</ion-checkbox>
            <ion-checkbox>Wonderful</ion-checkbox>
            <ion-checkbox>Miserable</ion-checkbox>
            <button id="lonelinessAndMood-button16" class="button button-positive  button-block icon-right ion-ios-arrow-forward">Continue</button>
        </form>
    </ion-content>
</ion-view>