<ion-view title="Ray" id="page1">
    <ion-content padding="true" class="has-header">
        <h1 id="ray-heading7" style="color:#000000;text-align:center;">Welcome back, Sam!</h1>
        <div class="spacer" style="width: 733px; height: 19px;"></div>
        <div class="list card">
            <div class="item item-divider">Today's Lesson Plan: Rhythms and You</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-icon-left item-icon-right" ui-sref="menu.allAboutRhythmsAndYou">
                        <i class="icon ion-ios-book"></i>1. All About RAY
                        <i class="icon ion-ios-arrow-right"></i>
                    </ion-item>
                    <ion-item class="item-icon-left item-icon-right" ui-sref="menu.rememberingAWellPeriod">
                        <i class="icon ion-android-cloud"></i>2. Remembering a Well Period
                        <i class="icon ion-ios-arrow-right"></i>
                    </ion-item>
                    <ion-item class="item-icon-left item-icon-right" ui-sref="menu.socialRhythmAnchorsPart1">
                        <i class="icon ion-ionic"></i>3. Social Rhythm Anchors
                        <i class="icon ion-ios-arrow-forward"></i>
                    </ion-item>
                    <ion-item class="item-icon-left item-icon-right" ui-sref="menu.socialRhythmMetric">
                        <i class="icon ion-ionic"></i>4. Social Rhythm Metric
                        <i class="icon ion-ios-arrow-right"></i>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div class="spacer" style="width: 733px; height: 19px;"></div>
        <div id="ray-markdown48" style="color:#000000;">
            <h4>Quick Tip!</h4>

            <p>If you want to take a look at older lesson plans, take a visit the library by pressing the = button in the top left hand corner!</p>
        </div>
    </ion-content>
</ion-view>