<ion-view title="Reduce Your Time in Bed" id="page18">
    <ion-content padding="true" class="has-header">
        <div id="reduceYourTimeInBed-markdown24" style="color:#000000;">
            <h2>People and Mood</h2>

            <p>Relationships affect your mood!</p>

            <ul>
                <li>When things are going well in your relationships, you usually feel better.</li>
                <li>When there are problems in relationships, you usually feel worse.</li>
            </ul>

            <p>The opposite is also true:</p>

            <ul>
                <li>When your mood is bad, your relationships suffer.</li>
                <li>When your mood is good, you are better able to manage your relationships.</li>
            </ul>

            <h2>Social Changes, Rhythms, and Mood</h2>

            <p>Our lives change constantly, and we move from one social role to another as our lives evolve.</p>

            <p>Social role changes can have a big impact on your mood by altering your relationships and your social rhythms.</p>

            <p>Have you experienced any of these social role changes in the last year?</p>

            <ul>
                <li>Single to married or partnered</li>
                <li>In the army to civilian life</li>
                <li>Employed to unemployed</li>
                <li>Childless to being a parent</li>
                <li>Student to a professional</li>
                <li>Financially o.k. to not enough money</li>
                <li>Healthy to sick</li>
            </ul>

            <p>If you experienced any of these changes, it probably affected:</p>

            <ul>
                <li>Your mood</li>
                <li>Your relationships</li>
                <li>Your daily rhythms</li>
            </ul>

            <p>In the next exercise, we will explore your life changes in the past year and the impact of those changes on your rhythms and mood.</p>

            <h2>Managing Social Changes</h2>

            <p>Social changes are disruptive to your moods and rhythms. Here are some strategies to help you manage social changes.</p>

            <p>Keep your rhythms the same as you go through the change Even though your schedule may change when you move from working to being unemployed, try to keep stick to a schedule that is similar to one that you followed while you were working.
                <br>When you have a new baby, although your sleep schedule may change, you can stay on the same meal schedule and work in regular exercise.</p>

            <p>
                <strong>Don't over-value the past</strong>
                <br>We often miss the past. As a result, we idealize things that may not have been perfect. When you find yourself missing the past, try to evaluate both the pros and cons of the old social role.</p>

            <p>Martin was angry and upset that he was no longer in charge of his division at work. He felt like he had been demoted by the new boss. This seemed to affect his mood. When he sat down to list the pros and cons being Division Head, he started
                to remember all of the cons. Although he was still angry at his boss, he realized it was a relief to no longer have to deal with disrgruntled salesmen, division budgets, and hiring freezes. He felt better reminding himself that it wasn't
                always perfect in the past.</p>

            <p>
                <strong>Don't under-value the present</strong>
                <br>When we are stressed about our current circumstances. we often have trouble seeing the positive aspects of the present. When you are worried about current challenges. try to evaluate both the pro's and con's of the new social role.</p>

            <ul>
                <li>Jaden was really upset about breaking up with Tony. She angry about the way things ended and really unhappy about being single again. She had really hoped that things would have worked out with him. She was depressed, feeling despondent
                    about being single. One of her girlfriends, however, urged her to write down the pros and cons of being single again. At first, she couldn't think if any pros. But then she started to remember that Tony was pretty demanding, leaving
                    her little time to hang out with her friends and even less time to exercise or work on her novel. Although she was still sad about the break up, she admitted that there was an upside.</li>
            </ul>

            <h2>The Break-Up</h2>

            <p>Meghan and Ethan broke up over Valentine's Day. They had been dating for over a year, but Meghan had been starting to doubt whether Ethan was "the one" since Christmas. As she approached her 30th birthday, she no longer wanted to spend time
                dating guys who weren't serious about commitment. Ethan said he wasn't sure about being a dad. Meghan knew that she wanted to get married and have kids one day. She certainly didn't want to stay in a relationship with a guy who isn't interested
                in marriage and a family!</p>

            <p>On one hand, Meghan was relieved to end the relationship with Ethan. She knew that it was the right thing to do, and it was nice to have more "me time" on the weekends. But after breaking up with Ethan, Meghan found herself staying up late
                at night checking out guys on Tinder, drinking wine, and feeling sorry for herself. Although she had been keeping up with her medication for bipolar disorder, she found herself drifting into a depression. Soon she was missing days of work
                and spending most of the day in bed.</p>

            <p>Meghan was confused. She wasn't exactly sad about breaking up with Ethan. But, she realized that her schedule was very different now that she was no longer in a relationship. Ethan had been very good for her daily rhythms. Although he wasn't
                "marriage material," they had often cooked meals together and spent nights together in her apartment watching Netflix. He had a good job in a bank, so he kept very regular hours that also helped to keep her on track.</p>

            <p>Losing Ethan meant that Meghan lost important social anchors in her day. Once she realized that her body clock missed Ethan more than her heart did, she put some new activities in her life to take the place of Ethan. She arranged to meet some
                girlfriends for dinner after work and signed up for an evening yoga class. She also deleted the Tinder app from her phone. As her body clock got back on track, her mood was better.</p>

            <h2>Loneliness, Rhythms, and Moods</h2>

            <p>Some people have problems establishing or maintaining close relationships. If this results in feelings of loneliness and isolation, it can also cause problems for rhythms and mood.</p>

            <p>Chronic loneliness may be a concern for you if you identify with any of the following statements:</p>

            <ul>
                <li>I have never had any close friends or romantic partners but I wish I did.</li>
                <li>I have relationships, but none of them are satisfying or fulfilling.</li>
                <li>My relationships are mostly problematic, characterized by constant fighting and giving each other "the cold shoulder."</li>
                <li>Most of my relationships take place over the computer or social media. I have trouble when I have to interact face-to-face.</li>
            </ul>

            <p>Absence of close, fulfilling relationships can make your mood worse. It may also make it hard for you to use social anchors to set your body clock.</p>

            <p>The next exercise will look at how loneliness affects mood and rhythms.</p>

            <h2>Meeting New People</h2>

            <p>Meeting new people can be hard when you have experienced chronic loneliness or depression. Here are some tips that can help you when you meet a new person.</p>

            <p>
                <strong>Look them in the eye</strong>.</p>

            <p>At least in Western cultures, eye contact helps improve social connections.</p>

            <p>
                <strong>Smile</strong>.</p>

            <p>If you are worried about how the conversation will go, your face may show signs of anxiety. A smile is more inviting.</p>

            <p>
                <strong>Open the conversation with "
                    <em>small talk</em>" (polite conversation about non-controversial topics) such as</strong>
            </p>

            <ul>
                <li>
                    <p>the weather ("It is so hot outside today, don't you think?")</p>
                </li>
                <li>
                    <p>a shared moment ("This check-out line is taking forever, isn't it?")</p>
                </li>
                <li>
                    <p>your current environment ("I am surprised that there are so many people here!")</p>
                </li>
            </ul>

            <p>
                <strong>Ask questions that
                    <em>use your curiosity to generate conversation.</em>
                </strong>
            </p>

            <ul>
                <li>
                    <p>"What brings you to this meeting?"</p>
                </li>
                <li>
                    <p>"Did you like the last presentation?"</p>
                </li>
            </ul>

            <p>
                <strong>Avoid one word responses</strong>.
                <br>Try to elaborate when you are responding to the other person.
                <br>Instead of "Yes" say "Yes, I like this yoga class because it is more intense than the last one I took."</p>

            <p>Although meeting new people can be hard, have more social connections will help your mood!</p>

            <h2>The Computer Programmer's Dilemma</h2>

            <p>David is a computer science major at a large university. He is a top student in the department, always doing well in difficult classes. He has always been good at math and science, and he takes a lot of pleasure in his work.</p>

            <p>David, however, has always struggled to make friends. He thought it might be different when he got to college, hoping that he would make friends with other computer science nerds like himself. But, he has been unable to do much more than talk
                to classmates about homework assignments or, occasionally, join them for an all night hack-at-thon. He knows that a lot of them play video games together, but he prefers to game alone or connected remotely to people that he does not know
                IRL.</p>

            <p>Because there are few people and few anchors in daily routines, David feels like he drifts through life . He sleeps at odd hours and spends most of his waking time on the computer, even eating in front of the screen. It really gets him down.</p>

            <p>RAY was great for him because it was easier than talking to a live therapist. He realized he needed to set up a sleeping and eating schedule for himself. That part was relatively easy, because he could create a program for himself with alarms
                and prompts on his various devices to keep his SRMs in a regular range. His mood lifted as his schedule improved.</p>

            <p>However, finding people to help him anchor his routines and provide social contact proved more difficult. When he did the RAY exercise that asked him to practice talking to someone at a party, it occurred to him that he could talk to the guy
                down the hall about video games. He knew they both played Super Smash Brothers. It was tough, but he was going to see if they could hang out and play together. He felt proud of himself for taking that step. In the long run, he would try
                to get a regular video game gig going with some other kids in his dorm if this first step worked out.</p>

            <h2>Grief, Rhythms, and Mood</h2>

            <p>
                <strong>Death of a loved one is an especially difficult experience.</strong>
            </p>

            <p>Death is normal, and all of us experience the death of a loved one at some point.</p>

            <p>However, death and loss are especially difficult for those left behind.</p>

            <ul>
                <li>Grief is difficult to bear. It may cause sadness, sleep problems, and difficulty completing tasks .</li>
                <li>Loss of a close loved one also disrupts rhythms and routines.</li>
            </ul>

            <p>If you have recently lost some one close to you, the next exercise will help you examine your feelings about the death and the impact of the death on your mood and rhythms.</p>

            <h2>The Widower</h2>

            <p>Bob and Jane were married for a long time. Since retirement, they did everything together. They ate breakfast together in the morning. They took long walks together in the afternoon. They watched TV together in the evenings. They even liked
                to read out loud to each other before going to bed at night.</p>

            <p>Jane died last year. Bob misses Jane. His life is not the same without her. He eats breakfast alone. Sometimes he doesn't leave the house because he doesn't have anyone to walk with him. He goes to sleep right after dinner because he doesn't
                enjoy being in the house alone at night.</p>

            <p>Bob's friend Ted also lost his wife to cancer last year. Ted is sad too, but he is more active than Bob. He asked Bob to join his men's walking group. Now Bob goes walking most days with Ted and a bunch of other widowers. That seems to help
                his mood. He mentioned to Ted that he wished he had something to do in the evenings also, now that he doesn't have Jane to keep him company. Ted suggested that Bob join the poker game at the senior center on Wednesdays. Although he is
                not a big poker fan, Bob agreed to try it out, realizing that adding some regular activities will help his mood and make it easier for him to bear Jane's absence.</p>

            <h2>Social Rhythm Tip for the Week</h2>

            <p>Studies have shown that individuals with bipolar disorder are more likely to experience social rhythm disrupting events prior to mood episodes than individuals with depression. Examples of social rhythm disrupting events reported by research
                participants included</p>

            <ul>
                <li>moving to a new residence</li>
                <li>breaking a limb</li>
                <li>taking a vacation</li>
                <li>losing a roommate</li>
                <li>losing a part-time job resulting in unemployment</li>
            </ul>

            <p>This effect is more evident before manic (rather than depressive ) episodes</p>

            <p>[insert image from Malkoff-Schwartz paper]</p>
        </div>
        <a ui-sref="menu.exercisesLesson5" id="reduceYourTimeInBed-button9" class="button button-positive  button-block icon-right ion-ios-arrow-forward">Continue</a>
    </ion-content>
</ion-view>