<ion-view title="Remembering a Well Period Feedback" id="page15">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">If yes to the last item:</div>
            <div class="item item-body">
                <div id="rememberingAWellPeriodFeedback-markdown27" style="color:#000000;">
                    <p>
                        <strong>Great!</strong>
                    </p>

                    <p>You have noticed that there is a connection between your mood and rhythms.</p>

                    <p>RAY will help you learn to improve the stability of your routines which, as you already know, will help your mood.</p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">If no to the last item:</div>
            <div class="item item-body">
                <div id="rememberingAWellPeriodFeedback-markdown28" style="color:#000000;">
                    <p>The relationship between mood and routines is complicated.</p>

                    <p>In RAY, we will explore these connections, helping you to better manage both your mood and rhythms.</p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">If not sure to the last item:</div>
            <div class="item item-body">
                <div id="rememberingAWellPeriodFeedback-markdown29" style="color:#000000;">
                    <p>The relationship between mood and routines is complicated.</p>

                    <p>In RAY, we will explore these connections, helping you to better manage both your mood and rhythms.</p>

                    <p>For many people, stable routines can help improve mood.</p>
                </div>
            </div>
        </div>
        <button id="rememberingAWellPeriodFeedback-button14" class="button button-positive  button-block">Finish</button>
    </ion-content>
</ion-view>