<ion-view title="Remembering a Well Period" id="page14">
    <ion-content padding="true" class="has-header">
        <div id="rememberingAWellPeriod-markdown25" style="color:#000000;">
            <h2>Think of a time when your mood was stable and you were able to function relatively well.</h2>

            <h3>Answer the following questions with respect to that time period.</h3>
        </div>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">How were you sleeping?</span>
                <select></select>
            </label>
            <label class="item item-select">
                <span class="input-label">Was your sleep schedule regular
                    <br>(getting up and going to bed at about the same time every day)?</span>
                <select></select>
            </label>
            <ion-radio>How many hours of sleep were you getting most nights?</ion-radio>
            <label class="item item-select">
                <span class="input-label">Was your daily routine regular
                    <br>(doing activities and eating meals at about the same time every day on most days) ?</span>
                <select></select>
            </label>
            <label class="item item-input">
                <span class="input-label">If your routines were regular,
                    <br>what were some of the things that helped to keep your routines regular?</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select">
                <span class="input-label">Was there a connection between the stability of your mood
                    <br>and the stability of your routines during this period of your life?</span>
                <select></select>
            </label>
        </form>
        <a ui-sref="menu.ray" id="rememberingAWellPeriod-button13" class="button button-positive  button-block icon-right ion-ios-arrow-forward">Continue</a>
    </ion-content>
</ion-view>