<ion-view title="Rhythms and Sleep: Strategies for Better Sleep" id="page17">
    <ion-content padding="true" class="has-header">
        <div id="rhythmsAndSleepStrategiesForBetterSleep-markdown23" style="color:#000000;">
            <h2>Why do we sleep?</h2>

            <h3>Sleep Facts</h3>

            <p>We spend one third of our lives asleep.
                <br>Some parts of the brain are more active at while we sleep than when we are awake.
                <br>Sleep enhances memory and creativity.</p>

            <h2>What Happens When We Don't Get Enough Sleep?</h2>

            <h3>Many of us are sleep deprived, especially</h3>

            <ul>
                <li>Teenagers</li>
                <li>Shift-workers</li>
                <li>Older adults</li>
                <li>Most of us! In the 1950's, we got 8 hours of sleep; today, the average adult gets only 6.5 hours of sleep</li>
            </ul>

            <h3>When you are sleep deprived,</h3>

            <ul>
                <li>You are at increased risk for driving accidents</li>
                <li>Poor judgment at work</li>
                <li>Poor memory</li>
                <li>Increased impulsiveness</li>
                <li>Weight gain</li>
                <li>
                    <p>Cravings for stimulants (caffeine, nicotine) and carbohydrates</p>
                    <p>##Sleep is Important Getting good sleep is one the most important things you can do for your health!</p>
                </li>
            </ul>

            <p>Better sleep will help your</p>

            <ul>
                <li>Mood</li>
                <li>Body Clock</li>
                <li>Brain</li>
                <li>Memory</li>
                <li>Physical health</li>
            </ul>

            <h2>How Does My Brain Control Sleep?</h2>

            <p>
                <strong>Sleep is Regulated By Two Processes</strong>
            </p>

            <ol>
                <li>
                    <p>
                        <em>The Sleep or "S" Process</em>:</p>
                </li>
                <li>
                    <p>Your brain measures the amount of time you have been awake.</p>
                </li>
                <li>This "sleep juice" builds up during the day.</li>
                <li>The longer you have been awake, the more "sleep juice" builds up.</li>
                <li>
                    <p>Sleep drive, or sleep juice, decreases quickly while you are asleep.</p>
                </li>
                <li>
                    <p>
                        <em>The Circadian or "C" Process</em>:</p>
                </li>
                <li>
                    <p>Your body clock run on roughly a 24 cycle, controlled by chemicals in the brain.</p>
                </li>
                <li>Your body clock increases your sleep drive in the middle of the night and decreases it in the middle of the day.</li>
                <li>The times that it’s hardest to stay awake are from about 3 - 6 a.m. (if you’ve been awake all night).</li>
                <li>If you stay awake longer, you notice a “second wind” of alertness kicking in later in the morning, at 9 a.m. to noon.</li>
                <li>Your body clock makes sure that you’re less sleepy during the day than at night.</li>
            </ol>

            <h2>The S and C Processes Work Together to Ensure Optimal Sleep</h2>

            <p>
                <strong>Two Forces that Guide Your Sleep Work Together</strong>
            </p>

            <p>At the end of the day, your “sleep juice” is high because of how long you’ve been awake; that helps you fall asleep.</p>

            <p>Later in the night, your body clock’s sleep drive reaches a peak, helping you to stay asleep.</p>

            <p>These graph shows you what "good" sleep patterns look like. Notice the following:</p>

            <ul>
                <li>The sleep drive is increasing over the period of wakefulness ("W").</li>
                <li>The Circadian drive to sleep is lowest during the period of wakefulness ("W").</li>
                <li>As sleep starts (blue shading), both the sleep drive are high and the Circadian drive to sleep are high.</li>
                <li>Around 5 am, both the S and C drives start to drop, preparing the body for wakefulness.</li>
                <li>The S and C drives are in sync.</li>
            </ul>

            <h2>What Happens When The S and C Processes Don't Work Together?</h2>

            <p>Sometimes the S and C process do not align and sleep goes wrong.</p>

            <p>Here are some examples of how sleep can go wrong.</p>

            <p>[NEED CONTENT FROM SWARTZinsert graphs from BBTI handout]</p>

            <h2>4 "Easy" Steps to Improving Sleep</h2>

            <ol>
                <li>Reduce your time in bed</li>
                <li>Don't go to bed unless you're sleepy</li>
                <li>Don't stay in bed unless you're asleep</li>
                <li>Get up at the same time every day</li>
            </ol>

            <p>Let's think more about each of these sleep tips!</p>

            <h2>Reduce Your Time in Bed</h2>

            <p>If you are experiencing trouble sleeping at night (more than 30 minutes of wakefulness at during the night), consider reducing your time in bed:</p>

            <ul>
                <li>If your brain is able to get 6 hours of actual sleep at night, but you spend 11 hours in bed, then you’re guaranteed to have 5 hours of wakefulness in bed.</li>
                <li>That can lead to lots of frustration, which can actually make your sleep worse still.</li>
                <li>“Sleep juice” is increased by increasing amounts of wakefulness during the day. Cutting down your time in bed increases the time you’re awake, which of course increases that same “sleep juice.”</li>
                <li>When we say to decrease time in bed, we are not really aiming to decrease the amount of
                    <em>sleep</em>you get in bed, just the amount of
                    <em>wakefulness</em>you have in bed.</li>
                <li>Remember that it is not that unusual for it to take up to a half hour to fall asleep, so don't worry if you are awake for 30 minutes before falling asleep</li>
            </ul>

            <h2>Strategies for Reducing Time in Bed</h2>

            <p>
                <strong>Your goal is to reduce Time in Bed to Total Sleep Time + 30 minutes.</strong>
            </p>

            <p>Pick your target Out-of-Bed time.
                <br>Work backward from there to decide your target Bedtime.
                <br>Keep these ideas in mind:</p>

            <ul>
                <li>Always make changes slowly, altering your schedule by no more than 30 minutes per day.</li>
                <li>Always spend at least 7 hours in bed, even if that is more than Total Sleep + 30 minutes.</li>
            </ul>

            <p>
                <strong>EXAMPLE</strong>: Bob is in bed from 2 am to noon (10 hours) but only sleeping for 6 1/2 hours per night. Bob's goal is to spend 7 hours in bed (6 1/2 hours plus 30 minutes). He would like to go to get up at 8 am but knows that he has
                to make the change gradually</p>

            <ul>
                <li>Bob moves his Out-of-Bed time back by 30 minutes on Day 1: he goes to bed at the same time (2 am) but gets up at 11:30 am instead of noon.</li>
                <li>On Day 2, Bob goes to bed at 2 am and gets up at 11 am.</li>
                <li>On Day 3, Bob goes to bed at 2 am and gets up at 10:30 am.</li>
                <li>On Day 4, Bob goes to bed at 2 am and gets up at 10 am.</li>
                <li>On Day 5, Bob goes to bed at 2 am and gets up at 9:30 am.</li>
                <li>On Day 6, Bob goes to bed at 2 am and gets up at 9 am. At this point, he has hit his goal of 7 hours in bed. But, he has not yet met his goal of getting up at 8 am.</li>
                <li>Next, Bob moves his Bedtime and Out-of-Bed time back by 30 minutes (1:30 am Bedtime and 8:30 am Out-of-Bed time).</li>
                <li>On Day 7, Bob goes to bed at 1:30 am and gets up at 8:30 am.</li>
                <li>On Day 8, Bob reaches his goal: he goes to bed at 1 am and gets up at 8 am.</li>
            </ul>

            <h2>Don't Go To Bed Unless You're Sleepy</h2>

            <p>
                <em>Sleepy</em>is when your eyes are drooping, your head is nodding, you can’t pay attention to the conversation around you because you are slipping into a twilight state.</p>

            <ul>
                <li>If you’re not sleepy at your “bedtime,” you shouldn’t go to bed yet.</li>
                <li>Let yourself stay up a little longer, and only go to bed when you’re actually feeling that you could fall asleep.</li>
                <li>This step also helps to increase your “sleep juice,” because it’s just another way of increasing the amount of time you’re awake.</li>
            </ul>

            <p>
                <em>Tiredness or fatigue</em>is a different state that may or may not indicate readiness for sleep.</p>

            <ul>
                <li>When you are tired or fatigued, you may have low energy, your muscles may be sore, or you may not be interested in doing anything.</li>
                <li>This may be part of your depression or it may indicate that you have been working hard all day.</li>
                <li>It is not necessarily an indication that it is time for bed.</li>
            </ul>

            <p>Don't spend more than 30 minutes trying to fall asleep.</p>

            <ul>
                <li>After 30 minutes, get out of bed and go to a pre-selected dark spot where you can engage in other QUIET activities (such as listening to music) until you become sleepy</li>
                <li>Going to bed when not sleepy can lead to vicious cycle of frustration that sends your brain the wrong message</li>
                <li>Don’t rely on your medications to make you sleepy ; your body clock and the S process will help you fall asleep if you let them</li>
            </ul>

            <h2>Don't Stay In Bed Unless You Are Asleep</h2>

            <p>If you are awake for more than 30 minutes in the middle of the night, get out of bed</p>

            <ul>
                <li>Helps to train your brain: Bed = sleep</li>
                <li>Reduces frustration</li>
            </ul>

            <p>What to do if you can’t sleep and have to get up in the night</p>

            <ul>
                <li>Keep lights as dim as possible—no overhead lights</li>
                <li>Do something distracting and relaxing, not too engaging or stimulating</li>
                <li>STAY OFF THE COMPUTER/SMARTPHONE! (too bright, too engaging)</li>
                <li>Watching TV is okay if from a distance and the program is not too stimulating</li>
                <li>If you read, be careful that the lamp is small and not pointed at your eyes</li>
            </ul>

            <p>WARNING: If you think that you may be getting manic (see information on symptoms of mania), quiet rest in bed, even while awake, may be better than getting out of bed where risk of becoming more active is high</p>

            <h2>Get Up at the Same Time Every Day</h2>

            <p>Getting up at the same time every morning helps set the body clock</p>

            <ul>
                <li>Wake-up time (and morning light) is the most important cue for the biological clock</li>
                <li>Try to get some exposure to light as soon as you wake up: take a walk or sit on your porch</li>
                <li>If you’ve slept poorly, getting up at the same time helps you sleep better the next night</li>
                <li>When you get up at the same time every day, your body clock has an easier time "knowing" when it is time to tell your body to go to sleep If you get up at different times, the clock gets "confused" and your ability to fall asleep will
                    suffer</li>
                <li>You can "force" yourself to get up in the morning but you cannot "force" yourself to fall asleep; you have more control over your Out-of-Bed time than Bedtime</li>
                <li>Try not to nap even if you are tired so that the "sleep juice" can build up for the next night</li>
            </ul>

            <h2>Social Rhythm Tip for the Week</h2>

            <p>
                <strong>Teenagers' body clocks are shifted</strong>
            </p>

            <p>Most teenagers's body clocks are set to go to sleep later and get up later.</p>

            <p>Yet, many high schools start very early in the morning.</p>

            <p>As a result, many teenagers' body clocks are still "sleeping" during the first few school periods, resulting in worse school performance and cranky adolescents.</p>

            <p>School districts that have shifted to later start times for higher grades have found that high school students have better test scores and improved concentration.</p>

            <p>The moral of this story : you can't fight your body clock!</p>

            <p>Read more about this issue in a statement from the
                <a href="http://pediatrics.aappublications.org/content/early/2014/08/19/peds.2014-1697.full.pdf+html?sid=8bae1398-f2d8-4c83-bcd7-d218555cd727">American Academy of Pediatrics</a>or in this online article in
                <a href="http://www.theatlantic.com/education/archive/2015/08/why-school-should-start-later/401489/">The Atlantic</a>
            </p>
        </div>
        <a ui-sref="menu.exercisesLesson5" id="rhythmsAndSleepStrategiesForBetterSleep-button8" class="button button-positive  button-block icon-right ion-ios-arrow-forward">Continue</a>
    </ion-content>
</ion-view>