<ion-view title="Social Rhythm Metric" id="page5">
    <ion-content padding="true" class="has-header">
        <div id="socialRhythmMetric-markdown1" style="color:#000000;">
            <p>[some information about what the SRM is and how it works]</p>

            <p>This normally takes
                <strong>[x minutes]</strong>so make sure you've set aside enough time to complete it!</p>
        </div>
        <a ui-sref="menu.targetTime" id="socialRhythmMetric-button1" class="button button-positive  button-block">Begin</a>
    </ion-content>
</ion-view>