<ion-view title="Social Rhythm Anchors: Part 2" id="page25">
    <ion-content padding="true" class="has-header">
        <div id="socialRhythmAnchorsPart2-markdown46" style="color:#000000;">
            <h2>You have selected the following social rhythm anchors:</h2>

            <h4>Do homework</h4>

            <p>These are examples of activities that help set your body clock.</p>

            <p>Doing these activities at the same time every day provides cues your body clock and helps to keep it in rhythm.</p>

            <p>The Social Rhythm Metric (SRM) tracks five activities that research has shown helps many people improve their mood.</p>

            <p>You may choose to track additional anchors that are important to you, such as one of the activities identified here.</p>
        </div>
        <div id="socialRhythmAnchorsPart2-markdown47" style="color:#000000;">
            <p>What will your target time to
                <strong>do your homework</strong>be?</p>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">On Sunday?</span>
                <input type="text" placeholder="please enter a time">
            </label>
            <label class="item item-input">
                <span class="input-label">On Monday?</span>
                <input type="text" placeholder="please enter a time">
            </label>
            <label class="item item-input">
                <span class="input-label">On Tuesday?</span>
                <input type="text" placeholder="please enter a time">
            </label>
            <label class="item item-input">
                <span class="input-label">On Wednesday?</span>
                <input type="text" placeholder="please enter a time">
            </label>
            <label class="item item-input">
                <span class="input-label">On Thursday?</span>
                <input type="text" placeholder="please enter a time">
            </label>
            <label class="item item-input">
                <span class="input-label">On Friday?</span>
                <input type="text" placeholder="please enter a time">
            </label>
            <label class="item item-input">
                <span class="input-label">On Saturday?</span>
                <input type="text" placeholder="please enter a time">
            </label>
        </form>
        <a ui-sref="menu.socialRhythmAnchorsPart3" id="socialRhythmAnchorsPart2-button18" class="button button-positive  button-block icon-right ion-ios-arrow-forward">Continue</a>
    </ion-content>
</ion-view>