<ion-view title="Social Rhythm Metric Goal Setting II" id="page27">
    <ion-content padding="true" class="has-header">
        <div id="socialRhythmMetricGoalSettingII-markdown49" style="color:#000000;">
            <h2>Last week you set your SRM Goal:</h2>
        </div>
        <div class="list card">
            <div class="item item-divider">Goal from SRM Goal Setting, Part I</div>
            <div class="item item-body">
                <div id="socialRhythmMetricGoalSettingII-markdown51" style="color:#000000;">
                    <ol>
                        <li>Get up at the same time every day.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div id="socialRhythmMetricGoalSettingII-markdown50" style="color:#000000;">
            <h3>Did you meet your SRM Goal this week?</h3>
        </div>
        <div class="button-bar">
            <button id="socialRhythmMetricGoalSettingII-button22" class="button button-balanced  button-block">Yes</button>
            <button id="socialRhythmMetricGoalSettingII-button24" class="button button-calm  button-block">No</button>
        </div>
    </ion-content>
</ion-view>