<ion-view title="Social Rhythm Anchors" id="page24">
    <ion-content padding="true" class="has-header">
        <div id="socialRhythmAnchors-markdown45" style="color:#000000;">
            <h2>What are examples of social rhythm anchors in your life?</h2>

            <h3>Check boxes if these social rhythm anchors apply to you.</h3>

            <h4>Only check them if you do the same thing at about the same time almost every day.</h4>
        </div>
        <form class="list">
            <ion-checkbox>Set an alarm clock</ion-checkbox>
            <ion-checkbox>Walk my dog</ion-checkbox>
            <ion-checkbox>Cook for my family</ion-checkbox>
            <ion-checkbox>Eat breakfast</ion-checkbox>
            <ion-checkbox>Get woken up by kids/partner/pet</ion-checkbox>
            <ion-checkbox>Go to work</ion-checkbox>
            <ion-checkbox>Go to school</ion-checkbox>
            <ion-checkbox>Talk to friends</ion-checkbox>
            <ion-checkbox>Talk to family</ion-checkbox>
            <ion-checkbox>Eat lunch</ion-checkbox>
            <ion-checkbox>Eat dinner</ion-checkbox>
            <ion-checkbox>Take medications</ion-checkbox>
            <ion-checkbox>Watch a TV program at a specific time</ion-checkbox>
            <ion-checkbox>Catch the bus</ion-checkbox>
            <ion-checkbox>Exercise</ion-checkbox>
            <ion-checkbox>Do housework</ion-checkbox>
            <ion-checkbox>Do homework</ion-checkbox>
            <ion-checkbox>Check my blood sugar</ion-checkbox>
            <ion-checkbox>Play a sport</ion-checkbox>
            <ion-checkbox>Watch a sport</ion-checkbox>
            <a ui-sref="menu.socialRhythmsAnchors" id="socialRhythmAnchors-button17" class="button button-positive  button-block icon-right ion-ios-arrow-forward">Continue</a>
        </form>
    </ion-content>
</ion-view>