<ion-view title="Social Rhythm Anchors: Part 3" id="page29">
    <ion-content padding="true" class="has-header">
        <div id="socialRhythmAnchorsPart3-markdown53" style="color:#000000;">
            <h2>Great!</h2>

            <h3>You set up a plan to do your homework</h3>

            <p>If you want to see your plans at any time, visit the tools section in the = menu in the top left hand corner:</p>

            <h4>Your plan:</h4>
        </div>
        <div class="list card">
            <div class="item item-divider">Your social rhythm anchors for doing your homework</div>
            <div class="item item-body">
                <div id="socialRhythmAnchorsPart3-markdown52" style="color:#000000;">
                    <p>Monday: 6 PM</p>

                    <p>Tuesday: 8 PM</p>

                    <p>Wednesday: 10 PM</p>

                    <p>Thursday: 5 PM</p>

                    <p>Friday: 5 PM</p>

                    <p>Saturday: 10 AM</p>
                </div>
            </div>
        </div>
        <a ui-sref="menu.ray" id="socialRhythmAnchorsPart3-button25" class="button button-positive  button-block icon-right ion-ios-arrow-forward">Continue</a>
    </ion-content>
</ion-view>