<ion-view title="Target Time" id="page6">
    <ion-content padding="true" class="has-header">
        <div id="targetTime-markdown2" style="color:#000000;">
            <p>Write the
                <strong>ideal</strong>target time you would
                <strong>like</strong>to do each of these these daily activities:</p>
        </div>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Get out of bed</span>
                <select>
                    <option>7:00 AM</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Have your
                    <br>first contact
                    <br>with another
                    <br>person</span>
                <select>
                    <option>9:00 AM</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Start work / school
                    <br>/ volunteer /
                    <br>family care</span>
                <select>
                    <option>10:00 AM</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Have dinner</span>
                <select>
                    <option>5:00 PM</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Go to bed</span>
                <select>
                    <option>9:00 PM</option>
                    <option></option>
                </select>
            </label>
            <a ui-sref="menu.dailyTime" id="targetTime-button2" class="button button-positive  button-block icon-right ion-ios-arrow-forward">Continue</a>
        </form>
    </ion-content>
</ion-view>