<ion-view title="Tools" id="page26">
    <ion-content padding="true" class="has-header">
        <div id="tools-markdown58" style="color:#000000;">
            <h2>Each exercise is made up of different tools and lessons that you can complete as you journey through RAY!</h2>

            <h3>As you complete each tool, they will be made available here for your use!</h3>
        </div>
        <ion-list>
            <ion-item class="item-icon-left item-icon-right" ui-sref="menu.socialRhythmAnchorsPart1">
                <i class="icon ion-ionic"></i>Social Rhythm Anchors
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" ui-sref="menu.socialRhythmMetric">
                <i class="icon ion-ionic"></i>Social Rhythm Metric
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" ui-sref="menu.lonelinessAndMood">
                <i class="icon ion-ionic"></i>Loneliness and Mood
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" ui-sref="menu.anticipatingProgress">
                <i class="icon ion-ionic"></i>Anticipating Progress
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>